<header>
  <a [routerLink]="['..']" class="back-to-groups" *ngIf="!fromDashboard">
    <rs-icon type="arrow-small"></rs-icon>
    BACK TO GROUPS
  </a>

  <h1 class="name" [class.without-top-padding]="fromDashboard">
    <label for="name">Feeds in group</label>
    <span class="input-wrapper">
      <span class="sizer">{{name ? name : placeholder}}</span>
      <input
        #nameInput
        (blur)="save()"
        id="name"
        type="text"
        (keydown.enter)="save(); nameInput.blur()"
        [(ngModel)]="name"
        [attr.placeholder]="placeholder"
        spellcheck="false">
    </span>
  </h1>
</header>
<div class="list">
  <div
    *ngFor="let feed of feeds$ | async; trackBy: getId"
    class="item">
    <a [routerLink]="['feeds', feed.id]" class="name">
      <rs-icon type="indicator"></rs-icon>
      <span class="text">{{feed.name}}</span>
    </a>
    <a href="" class="remove"
       (click)="deleteFeed(feed); $event.preventDefault()">
      <rs-icon type="cross"></rs-icon>
    </a>
  </div>
</div>

<a routerLink="feeds/new/feed-url" class="new-feed"
   *ngIf="!creatingNew && (feedsCount$ | async) < (feedsLimit$ | async)">
  <rs-icon type="add"></rs-icon>
  Add new feed
</a>
<span class="cannot-add-more"
      *ngIf="(feedsCount$ | async) >= (feedsLimit$ | async)">
  <rs-icon type="add"></rs-icon>
  Cannot add more than {{feedsLimit$ | async}} feeds.
</span>
