@import "../../../../config";

:host {
  margin-bottom: $g-content-top-padding;
  width: 100%;
}

a {
  color: inherit;

  &:hover {
    color: $g-color-primary;
  }
}

header {
  padding-top: $g-content-top-padding;
  background-color: white;
  z-index: 1;

  @media (min-width: $g-desktop-min-width) {
    position: sticky;
    top: $g-header-height;
  }
}

.back-to-groups {
  color: $g-color-text-subtle;
  font-size: 0.95em;

  &:hover {
    color: $g-color-primary;
  }

  rs-icon {
    transform: rotate(90deg);
    font-size: 0.8em;
    position: relative;
    top: -1px;
  }
}

h1 {
  padding: 30px 0;
  margin: 0;
  color: $g-color-text-primary;

  &.without-top-padding {
    padding-top: 0;
  }
}

.name {
  display: flex;
  align-items: center;

  label {
    flex-shrink: 0;
    margin-right: 15px;
  }

  .input-wrapper {
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
    position: relative;
    color: $g-color-primary;
    font-weight: 500;
    padding-bottom: 5px;

    input {
      color: inherit;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      text-transform: inherit;
      border: 0;
      left: 0;
      border-bottom: 1px dashed $g-color-primary;
      padding: 0;
      width: 100%;
      position: absolute;
      outline: none;

      &:not(:focus)::placeholder {
        color: $g-color-primary;
      }
    }

    .sizer {
      opacity: 0;
      white-space: pre;
      padding-right: 5px;
    }
  }
}

.list {
  max-width: 500px;
}

.item {
  display: flex;
  border: 1px solid $g-color-lines;
  align-items: stretch;
  margin-bottom: 15px;
  background-color: white;

  .name {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    text-transform: uppercase;
    overflow: hidden;

    rs-icon {
      margin-right: 15px;
      font-size: 0.5em;
      position: relative;
      color: $g-color-text-subtle;
    }

    &:hover rs-icon {
      color: $g-color-primary;
    }

    .text {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .remove {
    border-left: 1px solid $g-color-lines;
    padding: 3px 10px;

    rs-icon {
      font-size: 1.1em;
    }

    &:hover {
      color: $g-color-error;
    }
  }
}

.new-feed, .cannot-add-more {
  margin-top: 9px;
  display: inline-block;

  rs-icon {
    position: relative;
    bottom: -1px;
    margin-right: 10px;
  }
}

.new-feed {
  margin-left: 16px;

  rs-icon {
    color: $g-color-primary;
  }
}

.cannot-add-more {
  color: $g-color-text-subtle;
  margin-left: 10px;

  rs-icon {
    transform: rotate(45deg);
  }
}

