<header>
    <h1>Create free Rosselo account</h1>
    <h2>Get started with <strong>free plan</strong>!</h2>
</header>

<form [formGroup]="signUpForm" (ngSubmit)="submit()">
    <div class="form-group">
        <input type="email"
               id="email"
               class="styled default"
               formControlName="email"
               placeholder="E-mail"
               [class.invalid]="email.invalid && email.touched && email.dirty"
               #emailInput>
    </div>
    <div class="form-group">
        <input type="password"
               id="password"
               class="styled default"
               formControlName="password"
               placeholder="Password"
               [class.invalid]="password.invalid && password.touched && password.dirty">
    </div>
    <div class="form-group terms-accept">
        <input type="checkbox"
               id="consent"
               formControlName="consent"
               required="required">
        <label
                [class.invalid]="consent.invalid && consent.touched && consent.dirty"
                for="consent">
            I agree to
            <a routerLink="/terms" target="_blank" title="Terms of Use">Terms of
                Use</a>
            and
            <a routerLink="/terms" target="_blank" fragment="privacy"
               title="Privacy policy">Privacy
                policy</a>
        </label>
    </div>
    <rs-state-button
            (rsClick)="submit()"
            [working]="buttonState === 2"
            [align]="'center'"
            [color]="buttonState === 4 ? 'error' : 'default'"
            [state]="buttonState">
        <div class="state-1">
            Create account
        </div>
        <div class="state-2">
            Creating...
        </div>
        <div class="state-3">
            Done
        </div>
        <div class="state-4">
            {{error}}
        </div>
    </rs-state-button>
    <!--to allow submit by enter-->
    <input type="submit" style="display: none;"/>
</form>
<footer>
    No ads. No spam. Never selling your data.
</footer>
