@import "../../../config";

:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: $g-login-sign-up-padding-top-mobile $g-padding $g-padding;
  margin-bottom: 20px;

  @media (min-width: $g-desktop-min-width) {
    padding-top: $g-login-sign-up-padding-top;
  }
}

header {
  font-weight: lighter;

  h1 {
    margin: 0;

    @media (max-width: $g-mobile-max-width) {
      font-size: 1.8em;
    }
  }

  h2 {
    font-size: 1.4em;

    strong {
      color: $g-color-primary;
      font-weight: bold;
    }
  }
}

form {
  width: 300px;
  margin: 50px auto auto;

  @media (min-width: $g-desktop-min-width) {
    margin-top: 40px;
  }

  .form-group {
    overflow: hidden;
    margin-bottom: 10px;
  }

  input:not([type=checkbox]) {
    width: 100%;
    font-size: 1.05em;

    @media (min-width: $g-desktop-min-width) {
      max-width: 100%;
    }
  }

  .terms-accept {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 0.9em;
    color: $g-color-text-light;

    a {
      color: $g-color-text-primary;
      font-weight: 600;

      &:hover {
        color: $g-color-primary;
      }
    }
  }

  input[type=checkbox] {
    margin-right: 5px;
    line-height: 2;
  }

  .thank-you {
    font-size: 0.9em;
  }

  label.invalid {
    color: $g-color-error;

    a {
      color: $g-color-error;
    }
  }


  rs-state-button {
    margin-top: 10px;
    padding: 10px 42px;
    margin-bottom: 25px;
    box-sizing: border-box;
    width: 100%;

    @media (min-width: $g-desktop-min-width) {
      margin-top: 30px;
    }
  }
}


footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: $g-color-text-light;
  padding-bottom: 40px;
}


