@import "../../../config";

:host {
  display: inline-flex;
}

rs-state-button {
  height: 100%;
}

rs-spinner {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.state {
  display: flex;
  align-items: center;
  justify-content: center;
}

rs-icon[type=plus] {
  font-size: 0.8em;
  margin-right: 5px;
}

rs-icon[type=cross] {
  font-size: 1.2em;
  margin-right: 5px;
}


/* Here... */
.check {
  display: inline-block;
  border: solid 3px white;
  width: 13px;
  margin-bottom: -10px;
  height: 6px;
  margin-right: 12px;
  border-top: none;
  border-right: none;
  margin-left: -5px;
  transform: rotate(-45deg);
  transform-origin: top left;
}

.check.animate {
  animation: start 0.4s ease;
}

@keyframes start {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
  }
  30% {
    opacity: 0;
    width: 0;
    height: 0;
  }

  50% {
    opacity: 1;
    width: 0;
    height: 6px;
  }

  100% {
    width: 13px;
  }
}

:host.icon-only {
  rs-spinner, rs-icon {
    margin-right: 0;
  }

  .check {
    margin-right: -3px;
  }
}

