<rs-state-button
  [align]="align"
  [type]="type"
  [working]="state === 'working'"
  [color]="calculateColor()"
  [disabled]="disabled"
  (rsClick)="rsClick.emit($event)"
  (rsSubmit)="rsSubmit.emit($event)"
  [state]="calculateState()">
  <span class="state-1 state">
    <rs-icon [type]="defaultIcon" [attr.type]="defaultIcon" *ngIf="defaultIcon != null;"></rs-icon>
    <ng-template [ngIf]="!iconOnly || defaultIcon == null">
      {{defaultText}}
    </ng-template>
  </span>
  <span class="state-2 state">
    <rs-spinner mode="basic"></rs-spinner>
    <span *ngIf="!iconOnly">{{workingText}}</span>
  </span>
  <span class="state-3 state">
    <span class="check" [class.animate]="calculateState() == 3"></span>
    <span *ngIf="!iconOnly">{{doneText}}</span>
  </span>
  <span class="state-4 state">
    <rs-icon type="cross"></rs-icon>
    <span *ngIf="!iconOnly">{{errorText}}</span>
  </span>
</rs-state-button>
