<rs-container [narrow]="true">
  <h1>Terms of Use</h1>
  <h2>Updated on 04/09/2019</h2>

  <h3>Acceptance of Terms</h3>
  <p>
    You are required to read and agree to these terms, before using our
    Services. You may create Rosselo account after accepting these terms. Our
    <a href="#" (click)="scrollToAnchor('privacy', $event)">Privacy policy</a>
    explains the way we collect and use your information. By using the Service
    you agree to be bound by these Terms and our
    <a href="#" (click)="scrollToAnchor('privacy', $event)">Privacy
      policy</a>. In case you are using our Service on behalf of an
    organization, then you are agreeing to these Terms on behalf of that
    Organization and you represent and warrant that you have the authority to
    bind the Organization to these Terms.
  </p>
  <h3>Definitions</h3>
  <p>
    <strong>Service</strong> - Rosselo application, accessible from the
    supported web browser, that can be used to store and organize information,
    manage teamwork and create tasks.
  </p>
  <p>
    <strong>User</strong> - an individual, that is authorized to use the Service
    by making an order for subscription of the Service.
  </p>
  <h3>Content</h3>
  <p>
    By using the Service, you are able to gather Content, such as feeds, data
    files and other material. You remain the owner of your Content, however by
    uploading it onto the Service, you are granting us a license to use, copy,
    publish, reproduce, host, process, adapt, transmit, and display that Content
    for the purpose of providing you the Service and support; and analyzing and
    improving the Service.
  </p>
  <p>
    When registering for Rosselo, we ask for information such as your name and
    email address. Your information is only used internally and won't be shared
    with other parties.
  </p>

  <h3>User obligations</h3>
  <ol>
    <li>When using Rosselo you must obey all of the relevant laws and
      other legal provisions of the
      Czech Republic.
    </li>
    <li>You are responsible for keeping your password confidential and
      contact Rosselo immediately
      if you become aware of any breach of security or unauthorized use of your
      account.
    </li>
    <li>You may never use another user's account without their
      permission or attempt to gain
      unauthorized access to the Services or their related systems or networks.
    </li>
    <li>You may never sell, resell or lease the Services.</li>
    <li>You may not use the Service to any unlawful activities, upload
      any files depicting violence
      or pornographic, discriminatory, insulting, racist, slanderous or
      otherwise illegal content or documents and/or
      make them publicly accessible.
    </li>
  </ol>
  <h3>Our responsibilities</h3>
  <p>
    We shall provide our basic support for the Services to you at no additional
    charge and use reasonable efforts to make
    the Services available 24 hours a day, 7 days a week, except for:
  </p>
  <ul class="letters">
    <li>planned downtime or</li>
    <li>any unavailability caused by circumstances beyond Our
      reasonable control, including without
      limitation, acts of government, floods, fires, earthquakes, civil unrest,
      acts of terror, strikes or other labor
      problems.
    </li>
  </ul>
  <p>
    By using our Service, you provide us with information and documents that
    remain your property. We may not claim any
    property right regarding this information. This agreement does not grant us
    any right to use your intellectual
    property or stored information.
  </p>
  <h3>Duration and termination of the contract</h3>
  <p>
    The agreement on the free use of Rosselo app is for an indefinite period.
    The user is free to stop using the Service
    at any time and terminate the agreement by letting his account to expire
    automatically after 12 months of inactivity
    of using the Service. On termination, unsecured data will be lost as we will
    delete your account completely.
  </p>
  <p>
    We can terminate this agreement for any reason, typically due to
    <a href="#" (click)="scrollToAnchor('acceptable-use', $event)">Acceptable
      Use Policy</a> violation, with a notice period of two (2) weeks. We shall
    inform you about the termination of your account by e-mail.
  </p>
  <h3>Limitation of liability</h3>
  <p>
    When permitted by law, Rosselo and its service partners, licensors,
    employees, agents will not be responsible for any
    lost profits, revenues, or data, financial losses or indirect, special,
    consequential, exemplary, or punitive damages
    under any circumstances.
  <p>
  <p>
    Your use and/or purchase of service are all at your sole risk. The service
    is provided on an “as is” basis.
  </p>
  <p>
    Rosselo does not guarantee, that:
  </p>
  <ol class="letters">
    <li>the Service will meet all your requirements at all times;
    </li>
    <li>the Service will run without any interruptions;</li>
    <li>the Service will be error free and all errors will be
      corrected.
    </li>
  </ol>
  <p>
    All content uploaded, downloaded and/or otherwise obtained through the use
    of the service is done at your own risk and
    you are solely responsible for any damage to your computer equipment or
    devices, including but not limited to, laptop
    computers, desktop computer, tablets, smartphones and smartwatches, or any
    data loss resulting from download or use of
    any such material mentioned above.
  </p>
  <h3>General terms</h3>
  <p>
    This agreement shall be governed by the laws of the Czech Republic.
  </p>
  <p>
    The Rosselo Service is provided by its rightful co-author and
    <a href="http://whois.domaintools.com/rosselo.com"
       target="_blank">rosselo.com domain registrant</a>:
  </p>
  <p>
  <table class="address">
    <tr>
      <td>Name:</td>
      <td>Sebastian Honsa</td>
    </tr>
    <tr>
      <td>Street:</td>
      <td>Jakutská 1199/9</td>
    </tr>
    <tr>
      <td>City:</td>
      <td>Praha</td>
    </tr>
    <tr>
      <td>PSČ (ZIP):</td>
      <td>100 00</td>
    </tr>
    <tr>
      <td>Country:</td>
      <td>Czech Republic (EU)</td>
    </tr>
  </table>
  <p>
    If you have any question regarding this agreement or wish to check your
    personal information, inform us of any change
    or change your details, don’t hesitate to contact us by email at
    <a
     >info@rosselo<span class="email-protection-part">xxx </span>.com
    </a>
    or by mail to the provided address (see above).
  </p>
  <p>
    We reserve the right to amend these terms and conditions at any time and
    without notice. If we do this, we will post
    the amended terms and conditions on our website (www.rosselo.com). Your
    continued use of the Services after any such
    changes constitutes your acceptance of the new terms and conditions. If you
    do not agree to any of these terms or any
    future terms and conditions, do not use or access (or continue to access)
    the Services. This agreement applies to all
    visitors or users who access the Services.
  </p>

  <hr>
  <h1 id="acceptable-use">Acceptable Use</h1>
  <h3>Disruption of the Service</h3>
  <p>
    You may not:
  </p>
  <ol>
    <li>access, tamper with, or use non-public areas of the Service,
      Rosselo’s computer systems, or
      the technical delivery systems of Rosselo’s providers;
    </li>
    <li>probe, scan, or test the vulnerability of any system or
      network or breach or circumvent any
      security or authentication measure;
    </li>
    <li>access or search the Service by any means other than
      Rosselo’s publicly supported interfaces
      (for example, “scraping”);
    </li>
    <li>attempt to disrupt or overwhelm our infrastructure by
      intentionally imposing unreasonable
      requests or burdens on our resources (e.g. using “bots” or other automated
      systems to send requests to our servers
      at a rate beyond what could be sent by a human user during the same period
      of time)
    </li>
    <li>interfere with or disrupt the access of any user, host or
      network, including, without
      limitation, by sending a virus, overloading, flooding, spamming,
      mail-bombing the Service, or by scripting the
      creation of Content in such a manner as to interfere with or create an
      undue burden on the Service.
    </li>
  </ol>
  <h3>Misuse of the Service</h3>
  <p>
    You may not utilize the Service to carry out, promote or support:
  </p>
  <ol>
    <li>any unlawful or fraudulent activities;</li>
    <li>the impersonation of another person or entity or the
      misrepresentation of an affiliation
      with a person or entity in a manner that does or is intended to mislead,
      confuse, or deceive others;
    </li>
    <li>activities that are defamatory, libelous or threatening,
      constitute hate speech, harassment,
      or stalking;
    </li>
    <li>the publishing or posting other people’s private or
      personally identifiable information,
      such as credit card numbers, street address or Social Security/National
      Identity numbers, without their express
      authorization and permission;
    </li>
    <li>the sending unsolicited communications, promotions
      advertisements, or spam;
    </li>
    <li>the publishing of or linking to malicious content intended
      to damage or disrupt another
      user’s browser or computer; or
    </li>
    <li>promotion or advertisement of products or services other
      than your own without appropriate
      authorization.
    </li>
  </ol>
  <h3>Content Standards Within the Service</h3>
  <p>
    You may not post any Content on the Service that:
  </p>
  <ol>
    <li>violates of any applicable law, any third party’s
      intellectual property rights, or anyone’s
      right of privacy or publicity;
    </li>
    <li>is deceptive, fraudulent, illegal, obscene, pornographic
      (including child pornography,
      which, upon becoming aware of, we will remove and report to law
      enforcement, including the National Center for
      Missing and Exploited children), defamatory, libelous or threatening,
      constitutes hate speech, harassment, or
      stalking;
    </li>
    <li>contains viruses, bots, worms, or similar harmful materials;
      or
    </li>
    <li>contains any information that you do not have a right to
      make available under law or any
      contractual or fiduciary duty.
    </li>
  </ol>
  <h3>Violations of this Acceptable Use Policy</h3>
  <p>
    In addition to any other remedies that may be available to us, Rosselo
    reserves the right to immediately suspend or
    terminate your account or your access to the Service upon notice and without
    liability for Rosselo should you fail to
    abide by this Acceptable Use Policy. If you are a user of the Service under
    your employer or organization’s account,
    Rosselo reserves the right to notify your employer or organization of any
    violations of this Acceptable Use Policy.
  </p>
  <h3>Modifications of Acceptable Use Policy</h3>
  <p>
    Rosselo may amend or modify this Acceptable Use Policy from time to time in
    its sole and reasonable discretion. We
    will post any such changes on our website. If you object to any such
    change(s), your sole recourse shall be to cease
    using the Service. Continued use of the Service following notice of any such
    changes shall constitute your
    acknowledgement and acceptance of such changes.
  </p>
  <hr>
  <h1 id="privacy">Privacy policy</h1>
  <h3>General</h3>
  <p>This Privacy Policy describes Rosselo’s practices regarding the collection,
    use and disclosure of the information we
    collect from and about you when you use Rosselo desktop and mobile
    applications (the “Service”).
  </p>
  <h3>Information collected</h3>
  <p>
    We collect personal information, such as your name and email address, when
    you register for an account on the Service.
    We may use your email address to send you Service-related notices.
  </p>
  <p>
    We also collect and store personal information such as your name or email:
  </p>
  <ul>
    <li>
      via a registration forms, a survey and other online forms;
    </li>
    <li>
      in order to get support;
    </li>
    <li>
      when your request a call back or information about our products.
    </li>
  </ul>
  <h3>Use of information</h3>
  <p>
    We may use your personal information to:
  </p>
  <ul>
    <li>
      prevent and detect fraud or any other prohibited or illegal activities;
    </li>
    <li>
      fulfil your requests for registration;
    </li>
    <li>
      process your online services orders;
    </li>
    <li>
      inform you of new services release and product updates;
    </li>
    <li>
      communicate with you about technical or functional problems;
    </li>
    <li>
      send you special offers and events that may interest you;
    </li>
  </ul>
  <h3>Sharing your information</h3>
  <p>
    We do not share or sell, rent or trade your personal and confidential
    information with any third party for commercial
    purposes.
  </p>
  <p>
    Rosselo uses third-party applications, web services and external hosting
    services to provide the hardware, network,
    storage, and all other technology required to allow exceptional quality
    access to Rosselo website and services.
    Whenever possible, we strive to ensure that our partners are aligned with
    our privacy policy.
  </p>
  <h3>Your content</h3>
  <p>
    Your use of the Service will involve you uploading or inputting various
    content into the Service; including but not
    limited to: RSS feeds, data files, settings (together, the “Content”).
  </p>
  <p>
    You control how your Content is shared with others via your settings on the
    Service.
  </p>
  <h3>Stored password</h3>
  <p>
    To keep your account secure, provided password is never stored in plaintext
    or any other insecure form. It is hashed according to best practices in the
    field.
  </p>
  <h3>Cookie policy</h3>
  <p>
    Cookies are alphanumeric identifiers that we transfer to your computer's
    hard drive through your web browser.
  </p>
  <p>
    For some of its services and website, Service uses cookies or other
    technologies in order to offer you the best
    service and user experience, as well as easier navigation during your next
    visit:
  </p>
  <ul>
    <li>
      identify you as a user account holder;
    </li>
    <li>
      ask you to re-enter your password after a certain period without activity
      to protect you against unsolicited
      access;
    </li>
    <li>
      remember your preferences and settings;
    </li>
    <li>
      estimate our audience and total traffic;
    </li>
    <li>
      improve our services and website.
    </li>
  </ul>
  <h3>Improvements of our services</h3>
  <p>
    Rosselo uses Google Analytics in order to understand and optimize your use
    of our website and services. Through
    cookies we can collect specific data (viewed pages, downloads, clicked
    links, connection time, IP address, domain
    name, parameters or system configurations, etc.).
  </p>
  <h3>Improvements of our services</h3>
  <p>
    We implement a variety of security measures to maintain the safety of your
    personal information when you enter, submit
    or access your personal information.
  </p>
  <p>
    When you enter sensitive information (such as a credit card number) on our
    order forms, we encrypt the transmission of
    that information using SSL. Please keep in mind, however, that there is no
    such thing as perfect security, and no
    Internet transmission is ever completely secure or error-free. Altough we do
    our best to keep your data safe, there is
    no guarantee for your content in terms of safety or availability whatsoever.
    You use the service at your own risk.
    Moreover, you are responsible for maintaining the confidentiality of any
    username and password you use.
  </p>
  <h3>Changes to the Privacy Policy</h3>
  <p>
    Rosselo may update this Privacy Policy. We shall include any updated Privacy
    Policy, and its Effective Date, on our
    website and in our Service. We suggest that you periodically check the
    Privacy Policy to keep informed of the latest
    policies and procedures. Your continued use of the Service shall be deemed
    as acceptance of the current Privacy
    Policy.
  </p>
</rs-container>
