@import "../../../config";

:host {
  padding-top: $g-content-top-padding;
  padding-bottom: 32px;
  display: block;
  overflow: auto;
  flex-grow: 1;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 1.7em;
  color: $g-color-text-primary;
  margin-bottom: 30px;

  @media (min-width: $g-desktop-min-width) {
    font-size: 2em;
    margin-bottom: 10px;
  }
}

h2 {
  text-align: center;
  color: $g-color-text-subtle;
  font-size: 1.2em;
  margin-top: 0;
}

h3 {
  color: $g-color-text-primary;
  font-weight: 600;
  margin-bottom: 0;
}

p {
  margin-top: 8px;
}

hr {
  margin-top: 60px;
  margin-bottom: 40px;
  border: none;
  border-top: 1px solid $g-color-lines;
}

ul, ol {
  line-height: 1.6;
}

.letters {
  counter-reset: list;

  > li {
    list-style: none;
    position: relative;
  }

  > li:before {
    counter-increment: list;
    content: counter(list, lower-alpha) ") ";
    position: absolute;
    left: -16px;
  }
}

.address {
  color: $g-color-text-subtle;
}

.email-protection-part {
  visibility: hidden;
  position: absolute;
  left: -1000%;
}
