$g-color-white: #fff;
$g-color-border: #e7e7e7;
$g-color-gray-lighter: #ccc;
$g-color-gray-light: #b3b3b3;
$g-color-gray-normal: #a6a6a6;
$g-color-gray-darker: #999;
$g-color-text: #6b6b6b; // headlines
$g-color-text-bold: #666;
$g-color-gray-7: #d9d9d9;

$g-color-blue: #01b3e2;
$g-color-pink: #e91e63;
$g-color-orange: #ff9800;
$g-color-green: #2bbb39;

a {
  color: $g-color-orange;
  text-decoration: none !important;
}

strong, b {
  color: $g-color-text-bold;
}

.bold {
  font-weight: bold;
}

.pink {
  color: $g-color-pink;
}

.blue {
  color: $g-color-blue;
}

.green {
  color: $g-color-green;
}

.orange {
  color: $g-color-orange;
}

.center {
  text-align: center;
}

.top-15 {
  margin-top: 15px;
}

.top-50 {
  margin-top: 50px;
}

.vertical-10 {
  margin: 10px 0;
}

.email {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 20px;
  color: $g-color-text;
  line-height: 1.6;
  font-size: 16px;
  font-weight: 400;
  //    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "Helvetica Neue", "Segoe UI", "Open Sans", "Roboto", "Oxygen", "Ubuntu", "Cantarell", sans-serif;

  p {
    color: #868686;
  }
}

.button {
  color: $g-color-white;
  text-decoration: none;
  display: inline-block;
  position: relative;
  height: 38px;
  line-height: 38px;
  padding: 0 16px;
  border: 0;
  outline: 0;
  background-color: $g-color-orange;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  margin: 0 auto;

}

.button--white {
  color: $g-color-orange;
  border: 1px;
  border-style: solid;
  border-color: $g-color-orange;
  background-color: transparent;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 35px;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

/* Used for space */
.sizer {
  display: block;
  height: 1px;
}

.sizer--logo {
  height: 20px;
}

.line, hr {
  outline: none;
  box-shadow: none;
  height: 1px;
  border: none;
  background: $g-color-border;
  margin: 2em auto;
}

.space-text {
  color: $g-color-gray-normal;
  font-size: 14px;
  text-align: center;
  margin: 40px 0 20px;
}

.footer {
  padding: 15px 0 0;
  margin-top: 30px;
  color: $g-color-gray-light;
  font-size: 12px;
  text-align: center;
  border-top: 1px solid $g-color-border;

  a {
    color: $g-color-gray-light;
  }
}

.copyright {
  margin-top: 20px;
}

.rewards {
  margin-top: 40px;
}
