@import "../../../../config";

form {
  max-width: 475px;
}

label {
  flex-grow: 0;
}

input {
  box-sizing: border-box;
}

.delete {
  color: inherit;
}

.delete:hover {
  color: $g-color-error;
}

input[disabled] {
  background-color: #f9f9f9;
  color: $g-color-text-another;
}

rs-state-button {
  margin-top: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 100px;

  rs-icon {
    font-size: 0.9em;
  }

  @media (max-width: $g-mobile-max-width) {
    width: 100%;
  }
}

.warning-note, .error-note {
  margin-bottom: 20px;
  font-size: 0.8em;
  margin-top: -4px;
}

.error-note {
  color: $g-color-error;
}
.warning-note {
  color: $g-color-primary;
}

.warning {
  border-color: $g-color-primary;
}
.error {
  border-color: $g-color-error;
}

.center {
  text-align: center;
}

.center-desktop {
  @media(min-width: $g-desktop-min-width) {
    text-align: center;
  }
}

.line {
  @media (min-width: $g-desktop-min-width) {
    display: flex;
  }

  input {
    width: 100px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type=number] {
      -moz-appearance: textfield;
    }
  }

  label {
    margin-right: 20px;
    display: flex;
    flex-direction: column;

    &:last-child {
      margin-right: 0;
    }
  }

  .center {
    margin-top: 10px;

    @media (min-width: $g-desktop-min-width) {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
    }
  }
}

.input-with-note {
  .wrapper {
    position: relative;
    display: inline-block;
  }

  input {
    background: none;
    outline: none;
    border: 1px solid $g-color-lines;
    padding: 7px 55px 7px 10px;
    box-sizing: border-box;
    color: $g-color-text-secondary;
  }

  .note {
    color: $g-color-text-subtle;
    padding: 7px 18px 7px 10px;
    right: 0;
    position: absolute;
  }

  input.invalid {
    border-color: $g-color-error;
  }
}
