<form [formGroup]="form" (ngSubmit)="save()">
  <label class="styled">
    Feed name
    <input
        #nameInput
        type="text"
        formControlName="name"
        class="styled bordered"
        [class.invalid]="form.get('name').invalid && form.get('name').touched && form.get('name').dirty">
  </label>
  <label class="styled" *ngIf="getComponentContentType() === 'channel'">
    Type
    <rs-advanced-select
            [disabled]="isEditMode()"
      [options]="channelTypeOptions"
      [value]="enabledChannelType"
      (valueChange)="selectChannelType($event)">
    </rs-advanced-select>
  </label>
  <label class="styled">
    {{getComponentContentType() === 'url' ? 'Source URL (Feed or website)' :enabledChannelType.data.label}}
    <input type="text"
           formControlName="sourceData"
           class="styled bordered"
           (focus)="sourceDataFocused = true"
           (blur)="sourceDataFocused = false"
           [attr.disabled]="isEditMode() ? true : null"
           [class.invalid]="!sourceCreation.isValid && (form.get('sourceData').touched && form.get('sourceData').dirty || form.get('sourceData').value?.length > 0)"
           [class.warning]="isEditMode() && getFeedBeingEdited().source.error"
    >
  </label>
  <div *ngIf="!sourceCreation.isValid && (form.get('sourceData').touched && form.get('sourceData').dirty || form.get('sourceData').value?.length > 0);else warning"
       class="error-note">
    {{sourceCreation.error}}
  </div>
  <ng-template #warning>
    <div *ngIf="isEditMode() && getFeedBeingEdited().source.error"
         class="warning-note">
      The source cannot be downloaded. Is this a valid source?
    </div>
  </ng-template>
  <label class="styled">
    Group
    <span class="select-wrapper">
      <select
        [class.invalid]="form.get('categoryId').invalid &&
      form.get('categoryId').touched && form.get('categoryId').dirty"
        class="styled bordered"
        formControlName="categoryId">
        <option *ngFor="let category of categories$ | async"
                [ngValue]="category.id">
          {{category.name | uppercase}}
        </option>
      </select>
    </span>
  </label>
  <div class="line" [formGroup]="form">
    <label class="styled">
      Display max
      <div class="input-with-note">
        <div class="wrapper">
          <input type="number"
                 formControlName="maxAmountOfItems"
                 [class.invalid]="form.get('maxAmountOfItems').invalid && form.get('maxAmountOfItems').touched && form.get('maxAmountOfItems').dirty">
          <span class="note">posts</span>
        </div>
      </div>
    </label>
    <label class="styled">
      Maximal post age
      <div class="input-with-note">
        <div class="wrapper">
          <input type="number"
                 formControlName="noOlderThan"
                 [class.invalid]="form.get('noOlderThan').invalid && form.get('noOlderThan').touched && form.get('noOlderThan').dirty">
          <span class="note">days</span>
        </div>
      </div>
    </label>
    <label class="styled">
      Hide post when visited
      <div class="center">
        <rs-switch
          *ngIf="(hideEntriesAfterReadGlobal$ | async) !== 'respect-feed-settings'"
          (enter)="save()"
          [disabled]="true"
          [checked]="hideEntriesAfterReadGlobal$ | async"
          title="Global settings applied">
        </rs-switch>
        <rs-switch
          *ngIf="(hideEntriesAfterReadGlobal$ | async) === 'respect-feed-settings'"
          (enter)="save()"
          [checked]="form.get('hideEntriesAfterRead').value"
          (checkedChange)="form.get('hideEntriesAfterRead').setValue($event)">
        </rs-switch>
      </div>
    </label>
    <label class="styled" *ngIf="isEditMode()">
      Delete feed

      <div class="center-desktop">
        <a href=""
           class="delete"
           (click)="delete(); $event.preventDefault()">
          <rs-icon type="cross"></rs-icon>
        </a>
      </div>
    </label>
  </div>
  <rs-state-button
    align="center"
    (rsClick)="save()"
    [working]="meta.state === 1"
    [disabled]="!this.form.valid || !this.sourceCreation.isValid"
    [color]="meta.state === 3 ? 'error' : 'default'"
    [state]="meta.state + 1">
    <span class="state-1">
      Save
    </span>
    <span class="state-2">
      Saving
    </span>
    <span class="state-3">
      <rs-icon type="tick"></rs-icon>
    </span>
    <span class="state-4">
      {{meta.error}}
    </span>
  </rs-state-button>
  <!-- to allow submit by enter -->
  <input type="submit" style="display: none;"/>
</form>

