<div class="wrapper">
    <div class="head">
        <div *ngIf="!enableSearch && !isMobile; else searchInput" tabindex="0"
             class="info-bar"
             [class.disabled]="disabled"
             [class.is-placeholder]="value === null || (multiple && $any(value).length === 0)"
             (click)="_toggle()"
             (keydown)="onKeydown($event)"
             (keyup)="onKeyup($event)">
            <ng-template
                    [ngIf]="!multiple && value !== null && value.icon !== null">
                <rs-icon [type]="value.icon"></rs-icon>
            </ng-template>
            {{getValueRepresentation() || placeholder}}
        </div>
        <ng-template #searchInput>
            <input
                    type="text"
                    (click)="_toggle()"
                    (keydown)="onKeydown($event)"
                    (keyup)="onKeyup($event)"
                    [class.disabled]="disabled"
                    [disabled]="disabled"
                    tabindex="0"
                    [class.is-placeholder-value]="value !== null && (!multiple || $any(value).length > 0)"
                    [placeholder]="getValueRepresentation() || placeholder"
                    [ngModel]="searchTerm"
                    (ngModelChange)="search($event)">
        </ng-template>
    </div>
    <select #nativeSelect [class.show]="isMobile" [ngModel]="value"
            (ngModelChange)="select($event)"
            [attr.multiple]="multiple ? true : undefined">
        <option *ngFor="let option of visibleOptions" [ngValue]="option">
            {{option.name}}
        </option>
    </select>
    <div class="options" [@slide] *ngIf="toggle" (mouseover)="focused = null">
        <div
                *ngFor="let option of (anyOption !== null?[anyOption].concat(visibleOptions) : visibleOptions); index as i"
                class="option"
                [class.any-option]="anyOption === option"
                [class.focused]="i === focused"
                [class.active]="value === option"
                [class.icon-orange]="option.icon === 'rss'"
                (mousedown)="select(option); $event.preventDefault()">
            <rs-switch
                    *ngIf="multiple"
                    [checked]="anyOption === option ? allSelected : $any(value)?.indexOf(option) !== -1"
                    (checkedChange)="setActive(option,  $event)"
                    (mousedown)="$event.stopPropagation()">
            </rs-switch>
            <rs-icon
                    *ngIf="option.icon !== null"
                    [type]="option.icon">
            </rs-icon>
            {{option.name}}
        </div>
    </div>
</div>
