@import "../../../config";

$border: 1px solid $g-color-lines;

:host {
  display: block;
  user-select: none;
  color: $g-color-text-primary;
}

:host:not(.disabled) {
  cursor: pointer;
}

.wrapper {
  position: relative;
}

select {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  top: 0;
}

select.show {
  display: block;
}

.head {
  position: relative;
  display: flex;
  align-items: center;

  &.invalid:not(:focus) {
    border-color: $g-color-error;
  }

  &:after {
    font-family: "rosselo-icon-font" !important;
    content: '\65';
    color: #a2a2a2;
    position: absolute;
    right: 0;
    top: 2px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 23px;
    font-size: 0.7em;
  }

  rs-icon {
    margin-left: 2px;
    margin-right: 12px;
    position: relative;
    bottom: -1px;
    font-size: 1.4em;
  }

  &.icon-orange rs-icon {
    color: $g-color-primary;
  }

  input, .info-bar {
    width: 100%;
    background: none;
    outline: none;
    border: 1px solid $g-color-lines;
    padding: 8px 15px;

    &:focus:not(.disabled) {
      outline: $g-color-primary auto 1px;
    }

    &.disabled {
      background-color: #f9f9f9;
      color: $g-color-text-another;
    }

    &.is-placeholder {
      color: $g-color-text-subtle;
    }
  }

  input.is-placeholder-value::placeholder {
    color: $g-color-text-primary;
  }
}

.options {
  width: 100%;
  position: absolute;
  border-bottom: $border;
  background-color: white;
  z-index: 1;
  box-sizing: border-box;
  top: calc(100%);

  .option {
    padding: 5.5px 10px;
    display: flex;
    border-left: $border;
    border-right: $border;
    align-items: center;

    rs-icon {
      font-size: 1.4em;
      margin-left: 2px;
      margin-right: 12px;
    }

    rs-switch {
      margin-right: 12px;
    }

    &.active {
      color: $g-color-primary;
    }

    &.icon-orange rs-icon {
      color: $g-color-primary;
    }

    &.focused, &:hover {
      color: $g-color-primary;
    }

    &.any-option {
      padding-top: 8px;
      padding-bottom: 8px;
      border-bottom: $border;
    }
  }
}

:host.highlight-selected-by-background .options .option.active {
  color: white;
  background-color: $g-color-primary;
  border-color: $g-color-primary;
}

:host.robust-layout {
  .options {
    border-bottom: none;

    .option {
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: $border;
    }
  }
}
