@import "../../../config";
:host {
  display: flex;
  flex-direction: column;
}

.content {
  text-align: center;
  color: white;
  overflow: auto;
  background-color: $g-color-primary;
  padding: 0 $g-padding;
}

.skew {
  height: $g-skew-height;
  width: 100%;
  background-image: url("/assets/images/skew.svg");
  background-repeat: no-repeat;
  margin-bottom: -1px; // on mobile devices, sometimes a white line occurs, fix it

  @media (max-width: $g-mobile-max-width) {
    height: $g-skew-height-mobile;
  }
}

.skew.invert {
  transform: rotate(180deg);
  margin-bottom: 0;
  margin-top: -1px; // on mobile devices, sometimes a white line occurs, fix it
}
