@import "../../../../config";

:host {
  margin-top: $g-content-top-padding;
}

h2 {
  color: $g-color-text-primary;
}

h2:first-of-type {
  margin-top: 0;
}

th {
  font-weight: normal;
}

rs-switch {
  margin-top: 4px;
}

th {
  min-width: 150px;
  text-align: left;
}

.valign-top {
  vertical-align: top;
}

.visited-articles td, .visited-articles th {
  padding-top: 7px;
}

.simple-switch {
  display: flex;
  flex-direction: column;

  a {
    order: 1;
    color: inherit;
    display: block;
    margin-bottom: 10px;

    rs-icon {
      margin-left: 5px;
      font-size: 0.8em;
    }
  }

  a.enabled {
    order: 0;
  }

  a:not(.enabled) {
    color: $g-color-text-light;

    rs-icon {
      display: none;
    }
  }
}
