<h2>Global settings</h2>
<table>
  <tr>
    <th>Hide empty feeds</th>
    <td>
      <rs-switch
        [checked]="preferences.hideEmptyFeeds"
        (checkedChange)="preferences.hideEmptyFeeds = $event; save()">

      </rs-switch>
    </td>
  </tr>
  <tr class="visited-articles">
    <th class="valign-top">Visited articles</th>
    <td>
      <div class="simple-switch">
        <a href="#"
           (click)="visitedClick($event, 'respect-feed-settings');"
           *ngIf="switchToggled || preferences.hideEntriesAfterRead === 'respect-feed-settings'"
           [class.enabled]="preferences.hideEntriesAfterRead === 'respect-feed-settings'">
          Respect feed settings
          <rs-icon type="arrow-small" (click)="switchToggled = !switchToggled"></rs-icon>
        </a>
        <a href="#"
           (click)="visitedClick($event, $any(false))"
           *ngIf="switchToggled || preferences.hideEntriesAfterRead === false"
           [class.enabled]="preferences.hideEntriesAfterRead === false">
          Always show
          <rs-icon type="arrow-small" (click)="switchToggled = !switchToggled"></rs-icon>
        </a>
        <a href="#"
           (click)="visitedClick($event, $any(true))"
           *ngIf="switchToggled || preferences.hideEntriesAfterRead === true"
           [class.enabled]="preferences.hideEntriesAfterRead === true">
          Always hide
          <rs-icon type="arrow-small" (click)="switchToggled = !switchToggled"></rs-icon>
        </a>
      </div>
    </td>
  </tr>
</table>

<h2>E-mails</h2>
<table>
  <tr>
    <th>Service updates</th>
    <td>
      <rs-switch
        [checked]="preferences.emailServiceUpdates"
        (checkedChange)="preferences.emailServiceUpdates = $event; save()">
      </rs-switch>
    </td>
  </tr>
  <tr>
    <th>Tips & Free bonuses</th>
    <td>
      <rs-switch
        [checked]="preferences.emailTipsFreeStuff"
        (checkedChange)="preferences.emailTipsFreeStuff = $event; save()">

      </rs-switch>
    </td>
  </tr>
</table>
