@import "../../../config";

$width: 40px;
$height: 40px;

:host {
  display: inline-block;
  width: $width;
  height: $height;
  position: relative;
}

:host.rosselo {
  @keyframes lds-radio {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  div {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  div:nth-child(1) {
    width: $width;
    height: $height;
    background: $g-color-primary;
    animation: lds-radio 1.5s linear infinite;
    animation-delay: 0.2s;
  }

  div:nth-child(2) {
    width: $width * 0.8125;
    height: $height * 0.8125;
    background: white;
  }

  div:nth-child(3) {
    width: $width * 0.625;
    height: $height * 0.625;
    background: $g-color-primary;
    animation: lds-radio 1.5s linear infinite;
    animation-delay: 0.1s;
  }

  div:nth-child(4) {
    width: $width * 0.4375;
    height: $height * 0.4375;
    background: white;
  }

  div:nth-child(5) {
    width: $width * 0.25;
    height: $height * 0.25;
    background: $g-color-primary;
    animation: lds-radio 1.5s linear infinite;
  }
}

:host.basic {
  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 80%;
    height: 80%;

    margin: 10%;
    border: 2px solid;

    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
  div:nth-child(1) {
    animation-delay: -0.45s;
  }
  div:nth-child(2) {
    animation-delay: -0.3s;
  }
  div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

}
