<ng-template [ngIf]="mode == 'rosselo'" [ngIfElse]="basic">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</ng-template>

<ng-template #basic>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</ng-template>

