<h1>What a beautiful day today!</h1>
<p>Sorry, your page couldn't be found. Don't let that spoil your day.</p>
<img src="/assets/images/404-park.opt.svg" alt="park 404">
<rs-button type="bordered" routerLink="/">Back to index</rs-button>
