@import "../../../config";

:host {
  flex-grow: 1;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: $g-padding;
}

rs-button {
  color: $g-color-primary;
  text-transform: uppercase;
  width: 100%;
  max-width: 150px;
}

h1 {
  margin-bottom: 0;
}
p {
  margin-bottom: 0;
  color: $g-color-text-light;
}

img {
  margin: 40px 0;
}
