@charset "UTF-8";

@font-face {
  font-family: "rosselo-icon-font";
  src:url("rosselo.eot");
  src:url("rosselo.eot?#iefix") format("embedded-opentype"),
  url("rosselo.woff") format("woff"),
  url("rosselo.ttf") format("truetype"),
  url("rosselo.svg#rosselo") format("svg");
  font-weight: normal;
  font-style: normal;

}
