@import "../../../config";

:host {
  display: inline-flex;
  align-items: center;
  color: $g-color-text-secondary;
  cursor: pointer;
  transition: all $g-translation-speed $g-translation-effect;
  user-select: none;

  &.active {
    cursor: default;
  }
}

:host.center {
  justify-content: center;
}

:host.right {
  justify-content: center;
}

:host.bold {
  font-weight: 600;
}

:host.normal {
  &.active, &:focus, &:hover {
    color: $g-color-primary;
  }
}

:host.filled {
  background-color: $g-color-primary;
  color: white;

  &.active, &:focus, &:hover {
    background-color: darken($g-color-primary, 5%);
  }
}

:host.bordered {
  border: $g-color-primary 2px solid;
  padding: 8px 16px;

  &.active, &:focus, &:hover {
    background-color: $g-color-primary;
    color: white;
  }
}
