@import "../../../config";

table {
  border-collapse: collapse;
  width: 100%;

  @media (max-width: $g-mobile-max-width) {
    font-size: 0.9em;
  }
  @media (max-width: 400px) {
    font-size: 0.8em;
  }
}

thead th {
  text-transform: uppercase;
  text-align: left;
  font-weight: normal;
  color: $g-color-text-light;
  font-size: 0.9em;
}

tbody tr, tbody td {
  border: 1px solid $g-color-lines;
}

td, th {
  padding: 10px 30px;

  @media (max-width: $g-mobile-max-width) {
    padding: 10px 15px;
  }
}

td:first-of-type {
  padding-left: 15px;
  padding-right: 15px;
  width: 50%;

  @media (min-width: $g-desktop-min-width) {
    width: 45%;
  }
}

th:first-of-type {
  padding-left: 0;
  padding-right: 0;
}

tbody tr:nth-child(2n) {
  background-color: $g-footer-background-color;
}


table:not(:last-of-type) {
  margin-bottom: 30px;
}

.meta {
  font-size: 0.8em;
  position: relative;
  top: -2px;
}
