<table>
  <thead>
    <tr>
      <th>News item actions</th>
      <th>Mouse action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Open item
      </td>
      <td>
        Left click
      </td>
    </tr>
    <tr>
      <td>
        Un/Mark item as read
      </td>
      <td>
        Right click
      </td>
    </tr>
    <tr>
      <td>
        Un/Mark item as read later
      </td>
      <td>
        Left click on the bullet
      </td>
    </tr>
  </tbody>
</table>
<table>
  <thead>
  <tr>
    <th>Navigation</th>
    <th>Hotkey</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      Cycle groups left / right
    </td>
    <td>
      Ctrl (<span class="meta">⌘</span>) + Left/Right arrow
    </td>
  </tr>
  <tr>
    <td>
      Close menu / settings
    </td>
    <td>
      Esc
    </td>
  </tr>
  </tbody>
</table>
<table>
  <thead>
  <tr>
    <th>Actions</th>
    <th>Hotkey</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      Mark group as read
    </td>
    <td>
      Ctrl (<span class="meta">⌘</span>) + Enter
    </td>
  </tr>
  <tr>
    <td>
      Mark all groups as read
    </td>
    <td>
      Ctrl (<span class="meta">⌘</span>) + Shift + Enter
    </td>
  </tr>
  </tbody>
</table>
