@import "../../../config";

:host > header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: $g-color-lines 1px solid;
  position: fixed;
  width: 100%;
  max-height: 100%;
  background-color: white;
  z-index: 2;

  @media (max-width: $g-mobile-max-width) {
    overflow: auto;
  }

  @media (min-width: $g-desktop-min-width) {
    flex-wrap: nowrap;
  }

  $icon-text-margin: 10px;

  .active-category {
    flex-grow: 1;

    @media (min-width: $g-desktop-min-width) {
      display: none;
    }

    rs-button {
      max-width: 140px;

      @media (min-width: 400px) {
        max-width: 160px;
      }

      @media (min-width: 460px) {
        max-width: 240px;
      }

      @media (min-width: 550px) {
        max-width: 300px;
      }
    }

    rs-icon {
      margin-right: $icon-text-margin;
    }
  }

  .actions {
    display: flex;

    @media(min-width: $g-desktop-min-width) {
      order: 8;
    }

    rs-icon {
      font-size: 1.3em;
    }

    rs-icon[type="glasses"] {
      font-size: 1.5em;
    }

    rs-button:last-of-type {
      padding-right: $g-padding;
    }
  }

  .overflow-categories {
    position: relative;
    visibility: hidden;

    @media(max-width: $g-mobile-max-width) {
      display: none;
    }

    // so that it always takes space and calculation of overflowing items works
    &.visible {
      visibility: visible;
    }

    .list {
      width: 210px;
      position: absolute;
      top: 100%;
      overflow: hidden;
    }
  }

  .submenu, .overflow-categories .list {
    background-color: white;
    border-bottom: 0;
    display: flex;
    flex-direction: column;

    @media (min-width: $g-desktop-min-width) {
      border: 1px solid $g-color-lines;
      border-bottom: none;

      rs-button {
        height: 40px;
        min-width: 105px;
        font-size: 0.9em;
      }

      rs-button.cdk-drag-placeholder {
        border: 2px solid $g-color-primary;
        height: 36px;
      }
    }

    > div {
      display: flex;
      flex-direction: column;
    }

    rs-button rs-icon {
      margin-right: $icon-text-margin;
    }

    rs-button {
      border-bottom: 1px solid $g-color-lines;
    }

    .add-group {
      color: $g-color-text-light;
    }
  }

  .submenu rs-button {
    @media (min-width: $g-desktop-min-width) {
      text-transform: none;
    }
  }

  .submenu {
    rs-button {
      padding-left: 29px;
      min-width: 132px;
      height: 47px;

      rs-icon {
        margin-right: 13px;
      }
    }

    @media (min-width: $g-desktop-min-width) {
      position: absolute;
      right: 0;
      top: 100%;
    }
  }


  .categories {
    flex-grow: 1;
    max-width: 100%;

    rs-button {
      border-bottom: 1px solid $g-color-lines;
    }

    rs-button:last-of-type {
      border-bottom: none;
    }

    rs-button.cdk-drag-placeholder {
      border: 3px solid $g-color-primary;
      padding: 0 13px;
      height: 44px;

      span {
        opacity: 0;
      }
    }


    @media (min-width: $g-desktop-min-width) {
      display: flex;
      flex-wrap: wrap;
      height: $g-header-height;
      overflow: hidden;
      position: relative; // without this, the overflow is still visible

      rs-button {
        border-bottom: none;
      }

      rs-button.active {
        font-weight: bold;
      }

      &.cdk-drop-list-dragging rs-button.active {
        font-weight: normal;
        color: $g-color-text-secondary;
      }

      rs-button.group span {
        position: absolute;
      }

      rs-button.group:before {
        display: block;
        content: attr(data-name);
        font-weight: bold;
        height: 0;
        overflow: hidden;
        visibility: hidden;
      }
    }

    .add-group {
      transition: opacity $g-translation-effect $g-translation-speed;
      color: $g-color-text-light;

      @media (min-width: $g-desktop-min-width) {
        opacity: 0;

        &:hover {
          opacity: 1;
        }
      }

      rs-icon {
        font-size: 0.85em;
        margin-right: 10px;

        @media (min-width: $g-desktop-min-width) {
          margin-right: 5px;
        }
      }
    }
  }

  @media (max-width: $g-mobile-max-width) {
    .categories, .submenu {
      border-top: $g-color-lines 1px solid;
      background-color: white;
      box-shadow: 0 4px 2px -2px #e3e3e3;
      flex-basis: 100%;
      display: flex;
      flex-direction: column;

      rs-button {
        padding-left: $g-padding;
        padding-right: $g-padding;

        rs-icon {
          margin-right: $icon-text-margin;
        }
      }

      rs-button:last-of-type {
        border-bottom: none;
      }
    }
  }

  rs-button {
    font-size: 0.9em;
    text-transform: uppercase;
    height: 50px;
    width: auto;
    padding: 0 19px;

    span {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .close-sorting rs-icon {
    margin-right: 5px;
  }

  .logo, .logotype {
    padding-left: $g-padding;
    padding-right: 20px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: $g-header-height;

    img {
      max-height: 18px;
    }
  }

  .logotype {
    display: none;

    @media(min-width: $g-desktop-min-width) {
      display: flex;
    }
  }

  .logo {
    @media(min-width: $g-desktop-min-width) {
      display: none;
    }
  }
}

rs-button.cdk-drag-preview {
  text-transform: uppercase;
}

:host > .content {
  min-height: 100vh;
  padding-top: $g-header-height;
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  box-sizing: border-box; // so that padding is included in min-height
}

.columns {
  width: 100%;
  flex-grow: 1;

  .column {
    flex-basis: 0;
    flex-grow: 1;
    overflow: hidden;
    border-right: 1px solid $g-color-lines;

    &:last-of-type {
      border: none;
    }
  }

  &.columns-2 {
    @media (min-width: $g-desktop-min-width) {
      display: flex;
    }
  }

  &.columns-3 {
    @media (min-width: 1000px) {
      display: flex;
    }
  }

  &.columns-4 {
    @media (min-width: 1200px) {
      display: flex;
    }
  }

  &.columns-5 {
    @media (min-width: 1400px) {
      display: flex;
    }
  }
}

.loader {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  // to pretend there is another header at the bottom, so that it is centered
  // relatively to the whole page
  padding-bottom: $g-header-height;

}

.column {
  display: flex;
  flex-direction: column;

  rs-feed {
    border-bottom: 1px solid $g-color-lines;

  }
}

.columns.sort-mode .column rs-feed:last-of-type {
  border-bottom: none;
}

.columns:not(.sort-mode) .column rs-feed:last-of-type {
  flex-grow: 1;
}

.cdk-drag-preview {
  opacity: 0.5;
  border: 1px solid gray;
  box-sizing: border-box;
}

.columns {
  .cdk-drag-placeholder {
    height: 69px;
    z-index: 2;
    border: 3px solid $g-color-primary;
    box-sizing: border-box;
  }
}

.columns.sort-mode {
  rs-feed {
    cursor: move;

    * {
      pointer-events: none;
    }
  }
}

.all-read {
  max-width: 360px;
  margin: auto;
  padding: $g-padding;
  font-size: 0.8em;
  text-align: center;

  h2 {
    margin-bottom: 10px;
  }

  p {
    color: $g-color-text-subtle;
  }

  rs-icon {
    margin-top: 7px;
    font-size: 3em;
    color: $g-color-text-light;
  }
}

.no-feed {
  max-width: 360px;
  margin: auto;
  padding: $g-padding;
  font-size: 0.8em;
  text-align: center;

  p {
    rs-icon {
      font-size: 1.6em;
      position: relative;
      bottom: -4px;
    }
  }

  rs-icon, rs-button {
    color: $g-color-primary;
  }

  rs-button {
    padding: 10px 0;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    width: 100%;
    max-width: 200px;
    font-size: 1.2em;
    box-sizing: border-box;

    rs-icon {
      margin-right: 5px;
    }
  }

  rs-button:hover, rs-button:focus {
    &, rs-icon {
      color: white;
    }
  }

  .note {
    color: $g-color-text-subtle;
  }
}


$trialNotificationHeight: 46px;
.trial-notification {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: $g-color-primary;
  color: white;
  padding: 10px $g-padding;
  box-sizing: border-box;
  align-items: center;
  font-weight: 600;
  min-height: $trialNotificationHeight;

  p {
    margin: 0 10px 0 0;
    font-size: 0.9em;
  }

  rs-icon[type=cross] {
    cursor: pointer;
  }
}

.content.trial-notification-visible {
  padding-bottom: $trialNotificationHeight;
}
