<header>
  <a class="logo" [routerLink]="'/app'">
    <img src="/assets/images/logo.svg"
         alt="logotype rosselo">
  </a>
  <a class="logotype" [routerLink]="'/app'">
    <img src="/assets/images/logotype.svg"
         alt="logotype rosselo">
  </a>

  <!-- MOBILE ACTIVE CATEGORY, TOGGLE CATEGORY LIST -->
  <div class="active-category"
       (click)="toggleCategories(); $event.stopPropagation();">
    <rs-button [active]="expandCategories">
      <span>
        <rs-icon type="folder"></rs-icon>
        {{activeCategory?.name}}
      </span>
    </rs-button>
  </div>
  <!-- ACTIONS ON THE RIGHT -->
  <nav class="actions">
    <!-- actions if sort mode disabled -->
    <ng-template [ngIf]="!sortMode" [ngIfElse]="closeSortMode">
      <!-- overflowing categories, desktop only -->
      <div class="overflow-categories"
           [class.visible]="overflowCategories.length > 0 || moveAddGroupElement"
           (mouseenter)="onCategoriesMouseEnter()"
           (mouseleave)="onCategoriesMouseLeave()">
        <rs-button (click)="toggleCategories(); $event.stopPropagation()"
                   [active]="expandCategories">
          <rs-icon type="menu"></rs-icon>
        </rs-button>
        <!-- dropdown -->
        <div class="list" *ngIf="expandCategories"
             [@slide]>
          <div
            cdkDropList
            [cdkDropListDisabled]="isMobile || mobileLayout"
            (cdkDropListDropped)="onOverflowCategoryDrop($event)">
            <rs-button
              *ngFor="let category of overflowCategories"
              [routerLink]="['/app', category.slug]"
              [active]="activeCategory  === category"
              title="Custom group"
              align="left"
              weight="normal"
              cdkDrag>
            <span>
              {{category.name}}
            </span>
            </rs-button>
          </div>
          <rs-button
            title="Custom group"
            align="left"
            clazz="add-group"
            weight="normal"
            [routerLink]="['/app/settings/groups/new']">
              <span>
                Add group
              </span>
          </rs-button>
        </div>
      </div>
      <rs-button *ngIf="!mobileLayout && activeCategory !== null"
                 [routerLink]="['/app/settings/groups', activeCategory.id,
                 'feeds', 'new', 'feed-url']">
        <rs-icon type="add" title="Add new feed"></rs-icon>
      </rs-button>
      <rs-button
        title="Ctrl+Enter - mark group as read&#013;Ctrl+Shift+Enter - mark all as read"
        *ngIf="activeCategory !== null"
        (click)="onCategoryReadClick(activeCategory, $event)">
        <rs-icon type="glasses"></rs-icon>
      </rs-button>
      <rs-button (click)="toggleSubmenu(); $event.stopPropagation();"
                 title="Menu"
                 [active]="expandSubmenu">
        <rs-icon type="menu-2"></rs-icon>
      </rs-button>
    </ng-template>
    <!-- close sorting button -->
    <ng-template #closeSortMode>
      <div class="close-sorting">
        <rs-button (click)="sortMode = !sortMode">
          <rs-icon type="cross"></rs-icon>
          Close sorting
        </rs-button>
      </div>
    </ng-template>
  </nav>

  <!-- CATEGORIES LIST -->
  <nav
    *ngIf="!mobileLayout || expandCategories"
    [@slide]
    class="categories"
    cdkDropList
    cdkDropListOrientation="horizontal"
    [cdkDropListDisabled]="isMobile || mobileLayout"
    (cdkDropListDropped)="onCategoryDrop($event)">
    <rs-button
      *ngFor="let category of categories; trackBy: getId"
      class="group"
      [routerLink]="['/app', category.slug]"
      [active]="activeCategory  === category"
      [align]="mobileLayout ? 'left' : 'center'"
      #categoryElement
      weight="normal"
      title="Custom group"
      [attr.data-name]="category.name"
      cdkDrag
      [cdkDragDisabled]="isMobile || mobileLayout">
      <span>
        <rs-icon type="folder" *ngIf="mobileLayout"></rs-icon>
        {{category.name}}
      </span>
    </rs-button>
    <rs-button
      #categoryElement
      #addGroupElement
      clazz="add-group"
      [align]="mobileLayout ? 'left' : 'center'"
      [routerLink]="['/app/settings/groups/new']"
      weight="normal">
      <span>
        <rs-icon type="add"></rs-icon>
        Group
      </span>
    </rs-button>
  </nav>

  <!-- SUBMENU -->
  <nav class="submenu" *ngIf="expandSubmenu" [@slide]>
    <rs-button align="left"
               *ngIf="mobileLayout"
               weight="normal"
               [routerLink]="['/app/settings/groups', activeCategory.id,
               'feeds', 'new', 'feed-url']">
      <rs-icon type="add" title="Add new feed"></rs-icon>
      Add feed
    </rs-button>
    <rs-button
      weight="normal"
      *ngIf="!mobileLayout && !isMobile"
      (click)="sortMode = !sortMode"
      align="left">
      <rs-icon type="sort"></rs-icon>
      Sort
    </rs-button>
    <rs-button
      routerLink="/app/settings/groups"
      align="left"
      weight="normal">
      <rs-icon type="options"></rs-icon>
      Settings
    </rs-button>
    <rs-button
      weight="normal"
      (click)="logout()"
      align="left">
      <rs-icon type="logout"></rs-icon>
      Logout
    </rs-button>
  </nav>
</header>
<div class="content"
     [class.trial-notification-visible]="trialNotificationVisible$ | async">
  <ng-template [ngIf]="activeCategory !== null">
    <!-- ITEMS NOT LOADED -->
    <div
      *ngIf="activeCategory.status !== 'loaded' && activeCategory.status !== 'refreshing'; else columns"
      class="loader">
      <rs-spinner></rs-spinner>
    </div>
    <!-- ITEMS LOADED -->
    <ng-template #columns>
      <div
        *ngIf="(feedColumns$ | async)?.length > 0 && (!(showAllRead$ | async)
         || sortMode)"
        [ngClass]="'columns-' + (feedColumns$ | async).length"
        class="columns"
        [class.sort-mode]="sortMode"
        cdkDropListGroup>
        <!-- COLUMN -->
        <div
          *ngFor="let feeds of feedColumns$ | async; let i = index; trackBy: getIndex"
          class="column"
          cdkDropList
          (cdkDropListDropped)="onFeedDrop(i + 1, $event)"
          [cdkDropListData]="feeds"
          [cdkDropListOrientation]="'vertical'"
          [cdkDropListDisabled]="!sortMode || isMobile || mobileLayout">
          <!-- FEED -->
          <ng-template
            ngFor
            let-feed
            [ngForOf]="feeds"
            [ngForTrackBy]="getId">

            <rs-feed
              *ngIf="(!hideEmptyFeeds || feed.items?.length > 0 || feed.source.error) &&
              !sortMode"
              [feed]="feed"
              [simpleMode]="sortMode">
            </rs-feed>
            <rs-feed
              *ngIf="sortMode"
              [feed]="feed"
              [simpleMode]="sortMode"
              cdkDrag>
              <!-- PLACEHOLDER WHEN DRAGGING -->
              <ng-template cdkDragPlaceholder>
                <div></div>
              </ng-template>
            </rs-feed>
          </ng-template>
        </div>
      </div>
      <div class="all-read"
           *ngIf="(feedColumns$ | async)?.length > 0 &&
           (showAllRead$ | async) && !sortMode">
        <h2>You've read it all</h2>
        <p>
          You can <a
          [routerLink]="['/app/settings/groups', activeCategory?.id, 'feeds', 'new', 'feed-url']">add
          a new feed</a> to read more
        </p>
        <p>
          <rs-icon type="glasses"></rs-icon>
        </p>
      </div>
      <div class="no-feed"
           *ngIf="(feedColumns$ | async)?.length == 0">
        <h2>Add a new feed with news</h2>
        <p>
          Most websites contain
          <a routerLink="/questions" target="_blank" fragment="get-rss-feed">
            RSS link
          </a>
          with
          <rs-icon type="rss"></rs-icon>
          symbol that opens special URL address that you <strong>copy
          & paste</strong> into Rosselo
        </p>
        <rs-button type="bordered"
                   [routerLink]="['/app/settings/groups', activeCategory?.id, 'feeds', 'new', 'feed-url']">
          <rs-icon type="plus-thinner"></rs-icon>
          ADD RSS FEED
        </rs-button>
        <p class="note">
          Migrating from other app?
          <a
            [routerLink]="['/app/settings/groups', activeCategory?.id, 'feeds', 'new', 'import']">
            Import feeds
          </a>
          all at once.
        </p>
      </div>
    </ng-template>
  </ng-template>
</div>
<div class="trial-notification" *ngIf="trialNotificationVisible$ | async"
     [@fadeOut]>
  <p>
    The trial has expired. However, we are not ready to receive payments yet.
    Enjoy Rosselo for free until we are ready
    <rs-icon type="heart"></rs-icon>
  </p>
  <rs-icon type="cross" (click)="hideTrialMessage()"></rs-icon>
</div>
