@import "../../../../config";

:host {
  margin: $g-content-top-padding 0;
  width: 100%;
}

.back-to-group {
  color: $g-color-text-subtle;
  font-size: 0.95em;
  text-transform: uppercase;

  &:hover {
    color: $g-color-primary;
  }

  rs-icon {
    font-size: 0.8em;
    position: relative;
    top: -1px;
    transform: rotate(90deg);
  }
}

h1 {
  margin-top: 30px;
  color: $g-color-text-primary;
  margin-bottom: 15px;

  &.without-margin-top {
    margin-top: 0;
  }
}

.cannot-add-more {
  display: inline-block;
  color: $g-color-text-subtle;

  rs-icon {
    position: relative;
    bottom: -1px;
    margin-right: 10px;
    transform: rotate(45deg);
  }
}

nav {
  border-bottom: 1px solid $g-color-lines;
  display: none;

  @media (min-width: $g-desktop-min-width) {
    display: block;
  }

  a {
    color: $g-color-text-light;
    display: inline-block;
    padding: 10px 1px 10px 0;
    margin: 0 12px;
    position: relative;
    bottom: -1px;

    &:first-of-type {
      margin-left: 0;
    }

    &.active {
      color: $g-color-primary;
      border-bottom: 2px solid $g-color-primary;
    }

    rs-icon {
      margin-right: 2px;
    }
  }
}

.mobile-menu {
  display: block;
  max-width: 475px;

  @media (min-width: $g-desktop-min-width) {
    display: none;
  }
}

.mobile-subheader {
  margin-top: 40px;

  @media (min-width: $g-desktop-min-width) {
    display: none;
  }

  .text {
    display: inline-block;
    background-color: white;
    padding-right: 10px;
  }

  .line {
    border-top: 1px solid $g-color-lines;
    z-index: -1;
    margin-top: -10px;
  }
}

rs-feed-settings, rs-feed-import, rs-feed-websites {
  margin-top: 35px;
  display: block;
}
