<a [routerLink]="feed === null ? ['../../..'] : ['../..']"
   class="back-to-group"
   *ngIf="!fromDashboard">
    <rs-icon type="arrow-small"></rs-icon>
    BACK TO GROUP - {{(category$ | async)?.name}}
</a>
<h1 [class.without-margin-top]="fromDashboard">
    {{ feed === null ? 'Add new feed' : 'Feed settings' }}
</h1>
<div *ngIf="(isOverLimit$ | async) && feed === null" class="cannot-add-more">
    <rs-icon type="add"></rs-icon>
    Cannot add more than {{feedsLimit$ | async}} feeds.
</div>
<ng-template [ngIf]="!(isOverLimit$ | async) || feed !== null">
    <nav>
        <a
                *ngFor="let option of availableMenuOptions; let i = index"
                href="#"
                [class.active]="option.data.mode === mode"
                (click)="$event.preventDefault(); selectMenuValue(option)">
            <rs-icon [type]="option.icon"></rs-icon>
            {{option.name}}
        </a>
    </nav>
    <label class="styled mobile-menu">
        Source type
        <rs-advanced-select [options]="availableMenuOptions"
                            (valueChange)="selectMenuValue($event)"
                            [value]="menuValue"></rs-advanced-select>
    </label>
    <div class="mobile-subheader">
        <span class="text">FEED SETTINGS</span>
        <div class="line"></div>
    </div>

    <rs-feed-websites
            [category]="category$ | async"
            *ngIf="mode === 0">
    </rs-feed-websites>
    <rs-feed-import
            *ngIf="mode === 3"
    ></rs-feed-import>
</ng-template>
<rs-feed-settings
        *ngIf="(!(isOverLimit$ | async) && (mode === 1 || mode == 2)) || feed !== null"
        (modeChange)="setModeByFeedSettings($event)"
        (deleted)="goBack()"
        (saved)="goBack()"
        [mode]="getWhatToShowInFeedSettings()"
        [category]="category$ | async"></rs-feed-settings>
