{% extends "template.html" %}
{% block title %}
    Rosselo - e-mail change
{% endblock %}

{% block content %}
<div>
    <p class="vertical-10">
        Your e-mail address <strong class="orange">has been successfully
        changed</strong> to {{ newEmail }} for your Rosselo account.
    </p>
    <span class="sizer sizer"></span>
    <p class="center top-15">
        <a class="button" href="{{ linkToLogin }}">Login to your account</a>
    </p>
    <div class="space-text">
        If you did not request to change your e-mail
        address, please contact us at

        <a class="email-link" href="mailto:support@rosselo.com">
            support@rosselo.com
        </a>
    </div>
</div>
{% endblock %}