{% extends "template.html" %}
{% block title %}
Rosselo - password reset request
{% endblock %}

{% block content %}
<div>
    <p class="vertical-10">We have received a request to
        <a class="bold" href="{{ linkToResetPassword }}">reset your password</a>
        for your Rosselo account. All you have to do is click the button below
        and set your new password.
    </p>
    <span class="sizer sizer"></span>
    <p class="center top-15">
        <a class="button" href="{{ linkToResetPassword }}">Reset password</a>
    </p>
    <div class="space-text">
        If you did not make this request, please contact us at
        <a class="email-link" href="mailto:support@rosselo.com">
            support@rosselo.com
        </a>
    </div>
</div>
{% endblock %}
