@import "../../../config";

:host {
  padding-top: $g-content-top-padding;
  padding-bottom: 32px;
  display: block;
  overflow: auto;
  flex-grow: 1;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 1.7em;
  color: $g-color-text-primary;
  margin-bottom: 40px;

  @media (min-width: $g-desktop-min-width) {
    font-size: 2em;
  }
}

h3 {
  color: $g-color-text-primary;
  font-weight: 600;
  margin-bottom: 0;
}

p {
  margin-top: 8px;
}
