<rs-container [narrow]="true">
  <h1>List of popular feeds</h1>
  <h2>Discover all interesting things</h2>
  <h3>General news</h3>
  <ul class="">
    <li class="">
      <a href="http://feeds.bbci.co.uk/news/world/rss.xml" target="_blank">BBC World News</a>
    </li>
    <li class="">
      <a href="http://feeds.reuters.com/Reuters/worldNews" target="_blank">Reuters</a>
    </li>
    <li class="">
      <a href="http://feeds.washingtonpost.com/rss/rss_blogpost" target="_blank">Washington Post</a>
    </li>
    <li class="">
      <a href="http://rss.cnn.com/rss/edition_world.rss" target="_blank">CNN</a>
    </li>
    <li class="">
      <a href="https://www.theguardian.com/world/rss" target="_blank">The Guardian</a>
    </li>
    <li class="">
      <a href="http://www.independent.co.uk/news/world/rss" target="_blank">The Independent</a>
    </li>
    <li class="">
      <a href="http://feeds.feedburner.com/time/world" target="_blank">TIME</a>
    </li>
    <li class="">
      <a href="https://www.aljazeera.com/xml/rss/all.xml" target="_blank">Al Jazeera</a>
    </li>
    <li class="">
      <a href="http://www.spiegel.de/international/index.rss" target="_blank">Spiegel</a>
    </li>
    <li class="">
      <a href="https://news.google.com/rss/topics/CAAqJggKIiBDQkFTRWdvSUwyMHZNRGx1YlY4U0FtVnVHZ0pWVXlnQVAB" target="_blank">Google News</a>
    </li>
    <li class="">
      <a href="https://www.vox.com/rss/world/index.xml" target="_blank">Vox</a>
    </li>
    <li class="">
      <a href="https://www.buzzfeed.com/world.xml" target="_blank">BuzzFeed</a>
    </li>
  </ul>
  <h3>Sports</h3>
  <ul class="">
    <li class="">
      <a href="http://www.espn.com/espn/rss/news" target="_blank">ESPN - all</a>
    </li>
    <li class="">
      <a href="https://nypost.com/sports/feed/" target="_blank">New York Post</a>
    </li>
    <li class="">
      <a href="https://www.telegraph.co.uk/sport/rss.xml" target="_blank">The Telegraph</a>
    </li>
    <li class="">
      <a href="http://www.espn.com/espn/rss/nfl/news" target="_blank">ESPN - NFL</a>
    </li>
    <li class="">
      <a href="http://www.espn.com/espn/rss/nba/news" target="_blank">EPSN - NBA</a>
    </li>
    <li class="">
      <a href="http://www.espn.com/espn/rss/nhl/news" target="_blank">EPSN - NHL</a>
    </li>
    <li class="">
      <a href="https://api.foxsports.com/v1/rss" target="_blank">FOX Sports - Soccer</a>
    </li>
    <li class="">
      <a href="https://www.fifa.com/rss/index.xml" target="_blank">FIFA.com</a>
    </li>
    <li class="">
      <a href="http://feeds.bbci.co.uk/sport/tennis/rss.xml" target="_blank">BBC - Tennis</a>
    </li>
    <li class="">
      <a href="http://feeds.bbci.co.uk/sport/rugby-union/rss.xml" target="_blank">BBC - Rugby Union</a>
    </li>
    <li class="">
      <a href="https://www.theguardian.com/sport/golf/rss" target="_blank">The Guardian - Golf</a>
    </li>
  </ul>
  <h3>Technology</h3>
  <ul class="">
    <li class="">
      <a href="https://techcrunch.com/rssfeeds/" target="_blank">TechCrunch</a>
    </li>
    <li class="">
      <a href="https://www.wired.com/feed" target="_blank">Wired</a>
    </li>
    <li class="">
      <a href="http://rss.slashdot.org/Slashdot/slashdot" target="_blank">SlashDot</a>
    </li>
    <li class="">
      <a href="https://www.techworld.com/news/rss" target="_blank">Techworld</a>
    </li>
    <li class="">
      <a href="http://feeds.bbci.co.uk/news/technology/rss.xml" target="_blank">BBC - Technology</a>
    </li>
    <li class="">
      <a href="http://rss.nytimes.com/services/xml/rss/nyt/Technology.xml" target="_blank">New York Times Technology</a>
    </li>
    <li class="">
      <a href="https://nypost.com/tech/feed/" target="_blank">New York Post Technology</a>
    </li>
    <li class="">
      <a href="https://www.infoworld.com/index.rss" target="_blank">InfoWorld</a>
    </li>
    <li class="">
      <a href="https://www.huffingtonpost.com/section/technology/feed" target="_blank">The Huffingtonpost</a>
    </li>
  </ul>
  <h3>Business</h3>
  <ul class="">
    <li class="">
      <a href="https://www.economist.com/business/rss.xml" target="_blank">The Economist - Business</a>
    </li>
    <li class="">
      <a href="https://www.economist.com/finance-and-economics/rss.xml" target="_blank">The Economist - Finance & Economics</a>
    </li>
    <li class="">
      <a href="http://feeds.reuters.com/reuters/businessNews" target="_blank">Reuters</a>
    </li>
    <li class="">
      <a href="http://feeds.bbci.co.uk/news/business/rss.xml" target="_blank">BBC</a>
    </li>
    <li class="">
      <a href="http://rss.nytimes.com/services/xml/rss/nyt/Business.xml" target="_blank">New York Times</a>
    </li>
    <li class="">
      <a href="http://www.independent.co.uk/news/business/rss" target="_blank">The Independent</a>
    </li>
    <li class="">
      <a href="https://www.cnbc.com/id/10001147/device/rss/rss.html" target="_blank">CNBC</a>
    </li>
    <li class="">
      <a href="https://www.theguardian.com/uk/business/rss" target="_blank">The Guardian</a>
    </li>
    <li class="">
      <a href="https://www.telegraph.co.uk/business/rss.xml" target="_blank">The Telegraph</a>
    </li>
  </ul>
  <h3>Politics</h3>
  <ul class="">
    <li class="">
      <a href="http://feeds.bbci.co.uk/news/politics/rss.xml" target="_blank">BBC</a>
    </li>
    <li class="">
      <a href="http://rss.nytimes.com/services/xml/rss/nyt/Politics.xml" target="_blank">New York Times - US Politics</a>
    </li>
    <li class="">
      <a href="http://feeds.reuters.com/Reuters/PoliticsNews" target="_blank">Reuters</a>
    </li>
    <li class="">
      <a href="" target="_blank">The Guardian</a>
    </li>
    <li class="">
      <a href="https://www.politico.com/rss/politics08.xml" target="_blank">Politico</a>
    </li>
    <li class="">
      <a href="https://www.telegraph.co.uk/politics/rss.xml" target="_blank">The Telegraph</a>
    </li>
    <li class="">
      <a href="https://www.huffingtonpost.com/section/politics/feed" target="_blank">The Huffingtonpost</a>
    </li>
  </ul>
  <h3>Movies</h3>
  <ul class="">
    <li class="">
      <a href="http://rss.nytimes.com/services/xml/rss/nyt/Movies.xml" target="_blank">New York Times</a>
    </li>
    <li class="">
      <a href="https://www.npr.org/rss/rss.php?id=1045" target="_blank">NPR Movies</a>
    </li>
    <li class="">
      <a href="https://www.fandango.com/rss/newmovies.rss" target="_blank">Fandango New Movies</a>
    </li>
    <li class="">
      <a href="http://www.metacritic.com/rss/movies" target="_blank">Metacritic</a>
    </li>
    <li class="">
      <a href="https://www.rogerebert.com/feed" target="_blank">Roger Ebert</a>
    </li>
    <li class="">
      <a href="http://www.movies.com/rss-feeds/movie-news-rss" target="_blank">Movies Movie News</a>
    </li>
  </ul>
  <h3>Entertainment</h3>
  <ul class="">
    <li class="">
      <a href="http://feeds.reuters.com/reuters/entertainment" target="_blank">Reuters Entertainment</a>
    </li>
    <li class="">
      <a href="http://www.instyle.com/feeds/all/ins.rss" target="_blank">InStyle</a>
    </li>
    <li class="">
      <a href="https://www.huffingtonpost.com/dept/entertainment/feed" target="_blank">The Huffingtonpost</a>
    </li>
    <li class="">
      <a href="https://mashable.com/entertainment/rss/?europe=true" target="_blank">Mashable</a>
    </li>
    <li class="">
      <a href="http://feeds.bbci.co.uk/news/entertainment_and_arts/rss.xml" target="_blank">BBC - Entertainment & Arts</a>
    </li>
      <li class="">
      <a href="http://www.independent.co.uk/arts-entertainment/rss" target="_blank">The Idenpendent - Entertainment & Arts</a>
    </li>
  </ul>
  <h3>Living</h3>
  <ul class="">
    <li class="">
      <a href="https://www.huffingtonpost.com/section/huffpost-home/feed" target="_blank">The Huffingtonpost</a>
    </li>
    <li class="">
      <a href="https://www.consciouslifestylemag.com/feed/" target="_blank">Counscious Lifestyle</a>
    </li>
    <li class="">
      <a href="http://onbetterliving.com/feed/" target="_blank">Better Living</a>
    </li>
    <li class="">
      <a href="http://witanddelight.com/feed/" target="_blank">Wit & Delight</a>
    </li>
    <li class="">
      <a href="https://www.primermagazine.com/feed" target="_blank">Primer Magazine</a>
    </li>
    <li class="">
      <a href="https://amongotherthings.com/feed" target="_blank">Among other things</a>
    </li>
  </ul>
</rs-container>
