@import "../../../config";

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: $g-color-lines 1px solid;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;

  nav {
    flex-basis: 100%;
    border-top: $g-color-lines 1px solid;
    overflow: hidden;
    box-shadow: 0 4px 2px -2px #e3e3e3;

    @media (min-width: $g-desktop-min-width) {
      flex-basis: auto;
      border: none;
      box-shadow: none;
    }
  }

  rs-button {
    width: 100%;
    font-size: 0.9em;
    padding: 19px;

    @media (min-width: $g-desktop-min-width) {
      height: 50px;
      width: auto;
      padding: 0 19px;

      &:nth-last-child(3) {
        padding-right: 40px;
      }

      &:last-of-type, &:nth-last-child(2) {
        padding: 0 40px;
      }
    }
  }

  .login-button {
    border-top: 1px solid $g-color-lines;
    display: block;

    @media (min-width: $g-desktop-min-width) {
      border-left: 1px solid $g-color-lines;
      border-top: none;
      display: inline-block;
    }
  }

  rs-hamburger {
    @media (min-width: $g-desktop-min-width) {
      display: none;
    }
  }

  .logo {
    padding-left: $g-padding;
    padding-right: $g-padding;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: $g-header-height;

    img {
      max-height: 18px;
    }
  }
}

:host > .wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  > .content {
    padding-top: $g-header-height;
    flex-grow: 1;
    display: flex;
  }
}

footer {
  background-color: $g-footer-background-color;
  border-top: 1px solid $g-color-lines;

  a {
    color: inherit;

    &:hover {
      color: $g-color-primary;
    }
  }

  .content {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;

    > .copyright, > nav {
      flex-basis: 0;
      flex-grow: 1;
    }

    @media (min-width: 1000px) {
      flex-direction: row;
      padding: 10px 0;
    }
  }

  .copyright {
    display: none;

    @media (min-width: 800px) {
      display: block;
    }
  }

  a {
    padding: 0 10px;
    font-weight: bold;

    rs-icon {
      margin-right: 5px;
    }
  }

  rs-icon[type=logo] {
    font-size: 2em;
    cursor: pointer;

    @media (min-width: 800px) {
      margin-top: 20px;
    }
    @media (min-width: 1000px) {
      margin-top: 0;
    }
  }

  nav {
    text-align: right;
    margin-top: 20px;

    @media (min-width: 1000px) {
      margin-top: 0;
    }

    rs-button {
      padding: 0 10px;
      font-size: 1.1em;

      @media (min-width: 450px) {
        padding: 0 19px;
      }

      @media (min-width: 1000px) {
        margin-top: 0;
      }
    }
  }

  .notello-link:hover {
    color: $g-color-notello;
  }
}
