<header>
  <div class="logo" [routerLink]="'/'">
    <img src="/assets/images/logotype.svg"
         alt="logotype rosselo">
  </div>
  <rs-hamburger [active]="showMenu"
                (activeChange)="showMenu = $event"></rs-hamburger>
  <nav [@slide]="!mobile ? 'desktop' : (showMenu ? 'open' : 'closed')">
    <rs-button (click)="showMenu = false"
               [align]="mobile ? 'left' : 'center'"
               [routerLink]="'/'"
               [active]="router.isActive('/', true)">
      INTRODUCTION
    </rs-button>
    <rs-button (click)="showMenu = false"
               [align]="mobile ? 'left' : 'center'"
               [routerLink]="'/questions'"
               [active]="router.isActive('/questions', false)">
      QUESTIONS
    </rs-button>
    <span
      class="login-button">
      <rs-button
        (click)="showMenu = false"
        [align]="mobile ? 'left' : 'center'"
        [routerLink]="'/login'"
        [active]="router.isActive('/login', false)">
        LOGIN
      </rs-button>
    </span>
    <rs-button (click)="showMenu = false"
               [align]="mobile ? 'left' : 'center'"
               [routerLink]="'/sign-up'"
               [active]="router.isActive('/sign-up', false)"
               type="filled">
      SIGN UP
    </rs-button>
  </nav>
</header>
<div class="wrapper">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <footer>
    <rs-container>
      <div class="content">
        <div class="copyright">
          &copy; {{currentYear}} Rosselo by <a
          href="https://notello.com/about#team"
          target="_blank" class="notello-link">
          <rs-icon type="notello-logo"></rs-icon>
          Notello team</a> |
          <a href="https://facebook.com/RosseloApp" target="_blank">Facebook</a>
          | <a href="https://twitter.com/rosselo" target="_blank">Twitter</a>
        </div>
        <rs-icon type="logo" (click)="scrollToTop()"></rs-icon>
        <nav>
          <rs-button [routerLink]="'/questions'">
            QUESTIONS
          </rs-button>
          <rs-button [routerLink]="'/terms'">
            TERMS
          </rs-button>
          <rs-button [routerLink]="'/login'">
            LOGIN
          </rs-button>
          <rs-button [active]="true" [routerLink]="'/sign-up'">
            SIGN UP
          </rs-button>
        </nav>
      </div>
    </rs-container>
  </footer>
</div>
