<form [formGroup]="form" (ngSubmit)="submit()">
    <img src="/assets/images/logotype.svg" alt="logo" class="logo">
    <div class="form-group" *ngIf="mode !== 'set-password'">
        <input type="email"
               id="email"
               class="styled default"
               formControlName="email"
               placeholder="E-mail address"
               [class.invalid]="email.invalid && email.touched && email.dirty"
               #emailInput>
    </div>
    <div class="form-group" *ngIf="mode !== 'reset-password'">
        <input type="password"
               id="password"
               class="styled default"
               formControlName="password"
               placeholder="Password"
               [class.invalid]="password.invalid && password.touched && password.dirty">
    </div>
    <rs-state-button align="center"
                     (rsClick)="submit()"
                     [working]="meta.state === 1"
                     [color]="meta.state === 3  ? 'error' : 'default'"
                     [state]="meta.state + 1">
    <span class="state-1">
      <ng-template [ngIf]="mode === 'set-password'">
        Set password
      </ng-template>
      <ng-template [ngIf]="mode === 'reset-password'">
        Request password reset
      </ng-template>
      <ng-template [ngIf]="mode === 'login'">
        Login
      </ng-template>
    </span>
        <span class="state-2">
      <ng-template [ngIf]="mode === 'set-password'">
        Setting password
      </ng-template>
      <ng-template [ngIf]="mode === 'reset-password'">
        Requesting
      </ng-template>
      <ng-template [ngIf]="mode === 'login'">
        Logging in
      </ng-template>
    </span>
        <span class="state-3">
      <ng-template [ngIf]="mode === 'set-password'">
        <rs-icon type="tick"></rs-icon>
      </ng-template>
      <ng-template [ngIf]="mode === 'reset-password'">
        Check your e-mail
      </ng-template>
      <ng-template [ngIf]="mode === 'login'">
        <rs-icon type="tick"></rs-icon>
      </ng-template>
    </span>
        <span class="state-4">
      {{meta?.error}}
    </span>
    </rs-state-button>
    <br>
    <div class="links">
        <a routerLink="/sign-up"
           *ngIf="mode === 'login'">
            Create account
        </a>
        <span class="separator" *ngIf="mode === 'login'">|</span>
        <a href="#"
           (click)="$event.preventDefault(); setMode('reset-password')"
           *ngIf="mode === 'login'">
            Reset password
        </a>
        <a href="#"
           (click)="$event.preventDefault(); setMode('login')"
           *ngIf="mode === 'reset-password'">
            Back to login
        </a>
    </div>
    <!-- to allow submit by enter -->
    <input type="submit" style="display: none;"/>
</form>
