@import "../../../config";

$form-width: 320px;

:host {
  flex-grow: 1;
  width: 100%;
  text-align: center;
  padding: $g-login-sign-up-padding-top-mobile $g-padding $g-padding;

  @media (min-width: $g-desktop-min-width) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: $g-desktop-min-width) and (min-height: 600px) {
    padding-bottom: 10%;
  }
}

form {
  width: 100%;
}

.logo {
  max-width: 150px;
  width: 100%;
  margin-bottom: 40px;
}

input {
  margin-bottom: 10px;
  max-width: $form-width;
  width: 100%;
  font-size: 1.05em;
  box-sizing: border-box;
}

rs-state-button {
  margin-top: 30px;
  padding: 10px 42px;
  width: 100%;
  margin-bottom: 25px;
  max-width: $form-width;
  box-sizing: border-box;
}

a {
  color: $g-color-text-light;
  font-size: 0.8em;
}

a:hover, a:focus {
  color: $g-color-primary;
}

.separator {
  font-size: 0.7em;
  color: $g-color-text-subtle;
  margin: 0 10px;
}
