@import "../../../config";

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: $g-color-lines 1px solid;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 2;

  .logo {
    padding-left: $g-padding;
    padding-right: $g-padding;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: $g-header-height;

    @media(min-width: $g-desktop-min-width) {
      position: absolute;
    }

    img {
      max-height: 18px;
    }
  }

  nav {
    box-sizing: border-box;
    max-width: 800px;
    margin: auto;
    width: 100%;
    flex-basis: 100%;
    border-top: $g-color-lines 1px solid;
    overflow: hidden;
    box-shadow: 0 4px 2px -2px #e3e3e3;

    .space {
      flex-grow: 1;
    }

    @media (min-width: $g-desktop-min-width) {
      padding: 0 $g-padding;
      flex-basis: auto;
      border: none;
      box-shadow: none;
      display: flex;
      overflow: visible; // so that first items left padding is visible
      align-items: center;
    }
  }

  @media (min-width: $g-desktop-min-width) and (max-width: 1030px) {
    nav {
      width: auto;
      flex-grow: 1;
    }

    .logo {
      position: static;
    }
  }

  rs-button {
    width: 100%;
    font-size: 0.9em;
    padding: 16px $g-padding;
    position: relative;
    font-weight: 500;
    border-top: 1px solid $g-color-lines;

    &:first-of-type {
      border-top: none;
    }

    &:last-of-type {
      color: $g-color-text-primary;
    }

    @media (min-width: $g-desktop-min-width) {
      box-sizing: border-box;
      height: 50px;
      padding: 0 19px;
      width: auto;
      border-top: none;

      &:not(:last-child) {
        width: 100px;
      }

      &.active {
        font-weight: bold;
      }

      &:nth-last-child(2) {
        padding-right: 40px;
      }

      &:last-of-type {
        padding: 0 20px;
        margin-right: -20px;
      }

      &:first-of-type {
        margin-left: -19px;
      }
    }
  }

  .spacer {
    height: 15px;
    width: 1px;
    background-color: $g-color-text-light;
    display: none;

    @media (min-width: $g-desktop-min-width) {
      display: block;
    }
  }

  rs-hamburger {
    @media (min-width: $g-desktop-min-width) {
      display: none;
    }
  }
}

:host > .wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  > .content {
    padding-top: $g-header-height;
    padding-left: $g-padding;
    padding-right: $g-padding;
    box-sizing: border-box;
    max-width: 800px;
    width: 100%;
    flex-grow: 1;
    display: flex;
  }
}
