<header>
  <a class="logo" [routerLink]="'/app'">
    <img src="/assets/images/logotype.svg"
         alt="logotype rosselo">
  </a>
  <rs-hamburger [active]="showMenu"
                (activeChange)="showMenu = $event"></rs-hamburger>
  <nav [@slide]="!mobile ? 'desktop' : (showMenu ? 'open' : 'closed')">
    <rs-button [align]="mobile ? 'left' : 'center'"
               routerLink="/app/settings/groups"
               routerLinkActive="active">
      CONTENT
    </rs-button>
    <div class="spacer"></div>
    <rs-button [align]="mobile ? 'left' : 'center'"
               routerLink="/app/settings"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}">
      SETTINGS
    </rs-button>
    <div class="spacer"></div>
    <rs-button [align]="mobile ? 'left' : 'center'"
               routerLink="/app/settings/account"
               routerLinkActive="active">
      ACCOUNT
    </rs-button>
    <div class="spacer"></div>
    <rs-button [align]="mobile ? 'left' : 'center'"
               routerLink="/app/settings/hotkeys"
               routerLinkActive="active">
      HOTKEYS
    </rs-button>
    <div class="space"></div>
    <rs-button (click)="exit()"
               [align]="mobile ? 'left' : 'center'">
      <rs-icon type="cross" *ngIf="!mobile"></rs-icon>
      <span *ngIf="mobile">
        CLOSE SETTINGS
      </span>
    </rs-button>
  </nav>
</header>
<div class="wrapper">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
