<main>
    <aside>
        <img src="{{source.bigIconUrl}}" [alt]="source.title"
             *ngIf="source.bigIconUrl != null; else rosseloLogo">
        <ng-template #rosseloLogo>
            <img src="/assets/images/logo-light-gray.svg"
                 alt="logotype rosselo" class="default-logo">
        </ng-template>
    </aside>
    <div class="content">
        <article>
            <h2>{{source.title}}</h2>
            <h3>{{getHost()}}</h3>
            <p>
                {{source.description}}
            </p>
        </article>
        <div class="controls">
            <div *ngIf="source.feedId !== null" class="added-controls">
                <div class="category">
                    <rs-icon type="folder"></rs-icon>
                    {{source.categoryName}}
                </div>
                <rs-icon type="options"></rs-icon>
            </div>
            <rs-action-state-button
                    align="center"
                    [state]="calculateButtonState()"
                    defaultText="Add"
                    workingText="Adding"
                    doneText="Added"
                    defaultIcon="plus"
                    [errorText]="meta.error"
                    (rsClick)="add()"
                    type="bordered">
            </rs-action-state-button>
        </div>
        <div class="preview-news">
            <header>
                <a href="#" (click)="previewItems(); $event.preventDefault()">Preview
                    news
                    <rs-icon type="arrow-small" [class.rotate]="previewStatus !== 'hidden'"></rs-icon>
                </a>
            </header>
            <rs-spinner *ngIf="previewStatus === 'loading'" mode="basic"></rs-spinner>
            <ul *ngIf="previewStatus === 'shown'">
                <li *ngFor="let item of items">
                    <rs-icon type="indicator-full"></rs-icon> {{item.title}}
                </li>
            </ul>
        </div>
    </div>
</main>
