@import "../../../../config";

$padding: 25px;
$add-button-width: 120px;
$mobile-breakpoint: 670px;
$aside-width: 50px;

:host {
  border: $g-color-lines 1px solid;
  padding: $padding;
  display: block;
  position: relative;

  main {
    display: flex;

    .content {
      flex-grow: 1;
      width: 0;
    }
  }

  aside {
    width: $aside-width;
    margin-right: 20px;
  }

  aside img {
    width: 100%;
    max-width: 50px;
    max-height: 50px;

    &.default-logo {
      padding: 10px;
      box-sizing: border-box;
    }
  }

  h2 {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @media (min-width: $mobile-breakpoint) {
      max-width: 70%;

      @media (hover: none) and (pointer: coarse) {
        max-width: 50%;
      }
    }
  }

  h3 {
    margin: 0;
    font-size: 1em;
    color: $g-color-text-secondary;
  }

  p {
    @media(min-width: $mobile-breakpoint) {
      margin-bottom: 0;
      padding-right: ($add-button-width + 10px);
    }
  }

  aside {
    text-align: center;
  }
}

.controls {
  display: flex;
  align-items: center;
  transition: opacity 0.4s $g-translation-effect;
  text-transform: uppercase;
  color: $g-color-text-another;
  flex-direction: row-reverse;
  justify-content: flex-end;

  @media(min-width: $mobile-breakpoint) {
    position: absolute;
    right: $g-padding;
    top: $g-padding;
    opacity: 0;
    flex-direction: row;
    justify-content: flex-start;
  }

  @media (hover: none) and (pointer: coarse) {
    opacity: 1;
  }


  .added-controls {
    display: flex;
    align-items: center;
    transition: opacity 0.4s $g-translation-effect;
    flex-direction: row-reverse;

    @media(min-width: $mobile-breakpoint) {
      opacity: 0;
      flex-direction: row;
    }

    @media (hover: none) and (pointer: coarse) {
      opacity: 1;
    }

    .category {
      display: none;

      @media(min-width: 460px) {
        display: block;
      }
    }
  }

  rs-icon[type=options] {
    font-size: 1.4em;
    margin-bottom: -3px;
    margin-right: 20px;
    margin-left: 15px;
  }

  rs-icon[type=folder] {
    margin-right: 8px;
    margin-bottom: -2px;
  }
}

:host.already-added .controls, :host:hover .controls, :host:hover .controls .added-controls {
  opacity: 1;
}

:host.already-added:hover h2 {
  max-width: 50%;
}

rs-action-state-button {
  width: $add-button-width;
  height: 30px;
  font-size: 0.95em;
}

.preview-news {
  margin-top: 8px;
  display: none;

  @media (min-width: $mobile-breakpoint) {
    display: block;
  }

  header {
    text-align: right;

    a {
      text-transform: uppercase;
      color: $g-color-text-another;

      &:hover {
        color: $g-color-primary;
      }

      rs-icon {
        font-size: 0.7em;
        margin-left: 5px;
      }
    }
  }

  rs-spinner {
    color: $g-color-primary;
    display: block;
    margin: 15px auto auto;
    position: relative;
    left: -($aside-width / 2);
  }

  rs-icon {
    transition: transform 0.5s ease;
    transform-origin: 5px 4.5px;
  }

  .rotate {
    transform: rotate(-180deg);
  }

  ul {
    padding: 0;
    margin-top: 20px;
    list-style-type: none;

    li {
      line-height: 1.5;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      rs-icon {
        font-size: .4em;
        color: $g-color-text-light;
        padding-right: 7px;
        position: relative;
        top: -2px;
      }
    }
  }
}

