@import "../../../config";
$hamburger-types: (
  3dx,
);
$hamburger-layer-color: $g-color-text-light;
$hamburger-layer-height: 2px;
$hamburger-layer-width: 22px;
@import "../../../../../node_modules/hamburgers/_sass/hamburgers/hamburgers";

button {
  outline: none;
}
