@import "../../../config";

:host {
  display: inline-flex;
  color: white;
  position: relative;
  width: 200px;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  transition: all $g-translation-speed $g-translation-effect;
  font-weight: bolder;
  text-transform: uppercase;
  align-items: center;
  box-sizing: border-box;
}

:host.disabled {
  cursor: not-allowed;
}

:host.bg-default {
  background-color: $g-color-primary;

  &.bordered {
    background: none;
    border: $g-color-primary 2px solid;
    color: $g-color-primary;

    &:hover:not(.working) {
      background-color: $g-color-primary;
      color: white;
    }
  }

  &.working {
    $color: darken($g-color-primary, 5%);
    border-color: $color;
    background-color: $color;
    color: white;
  }

  &.disabled {
    background-color: $g-color-lines;
  }
}

:host.bg-error {
  background-color: $g-color-error;

  &.working {
    background-color: darken($g-color-error, 5%);
  }

  &.disabled {
    background-color: darken($g-color-error, 10%);
  }
}

:host.bg-success {
  background-color: $g-color-primary;

  &.working {
    background-color: darken($g-color-primary, 5%);
  }

  &.disabled {
    background-color: darken($g-color-primary, 10%);
  }
}

:host.align-left {
  justify-content: left;
}

:host.align-center {
  text-align: center;
  justify-content: center;

  span {
    left: 0;
    right: 0;
  }
}

span {
  position: relative;
}
