<span
  [@slide]="currentState == 1 ? 'visible' : 'hidden'"
  (@slide.start)="animationStart()"
  (@slide.done)="animationDone()"
>
  <ng-content select=".state-1"></ng-content>
</span>
<span
  [@slide]="currentState == 2 ? 'visible' : 'hidden'"
  (@slide.start)="animationStart()"
  (@slide.done)="animationDone()"
>
  <ng-content select=".state-2"></ng-content>
</span>
<span
  [@slide]="currentState == 3 ? 'visible' : 'hidden'"
  (@slide.start)="animationStart()"
  (@slide.done)="animationDone()"
>
  <ng-content select=".state-3"></ng-content>
</span>
<span
  [@slide]="currentState == 4 ? 'visible' : 'hidden'"
  (@slide.start)="animationStart()"
  (@slide.done)="animationDone()"
>
  <ng-content select=".state-4"></ng-content>
</span>
<span
  [@slide]="currentState == 5 ? 'visible' : 'hidden'"
  (@slide.start)="animationStart()"
  (@slide.done)="animationDone()"
>
  <ng-content select=".state-5"></ng-content>
</span>
<span
  [@slide]="currentState == 6 ? 'visible' : 'hidden'"
  (@slide.start)="animationStart()"
  (@slide.done)="animationDone()"
>
  <ng-content select=".state-6"></ng-content>
</span>
<span
  [@slide]="currentState == 7 ? 'visible' : 'hidden'"
  (@slide.start)="animationStart()"
  (@slide.done)="animationDone()"
>
  <ng-content select=".state-7"></ng-content>
</span>
