<header class="form">
    <section class="query">
        <div class="input-wrap">
            <input
                    [ngModel]="term"
                    (ngModelChange)="search($event)"
                    type="text"
                    [attr.placeholder]="mobileLayout ? 'Search for website or topic' : 'Search for any website or topic you like'"
            >
            <rs-icon type="search"></rs-icon>
            <rs-icon type="options"></rs-icon>
        </div>
        <rs-action-state-button
                align="center"
                [state]="calculateButtonState()"
                [iconOnly]="mobileLayout || !queryTooShort || searching"
                defaultText="Search"
                workingText="Searching"
                [defaultIcon]="mobileLayout ? 'search' : null">

        </rs-action-state-button>
        <!--    <rs-state-button-->
        <!--      align="center"-->
        <!--      [working]="showSpinner"-->
        <!--      [state]="2">-->
        <!--      <span class="state-1">-->
        <!--        <ng-template [ngIf]="!urlMode || showSpinner || (results$ | async) == null || (results$ | async)?.length == 0"-->
        <!--                     [ngIfElse]="state1Add">-->
        <!--          <rs-icon type="search" *ngIf="mobileLayout"></rs-icon>-->
        <!--          <span *ngIf="!mobileLayout">Search</span>-->
        <!--        </ng-template>-->
        <!--        <ng-template #state1Add>-->
        <!--          <rs-icon type="add" *ngIf="mobileLayout"></rs-icon>-->
        <!--          <span *ngIf="!mobileLayout">Add</span>-->
        <!--        </ng-template>-->
        <!--      </span>-->
        <!--      <span class="state-2">-->
        <!--        <rs-spinner mode="basic"></rs-spinner>-->
        <!--        <span *ngIf="!mobileLayout">Working</span>-->
        <!--      </span>-->
        <!--      <span>-->
        <!--        Fajka-->
        <!--      </span>-->
        <!--    </rs-state-button>-->
    </section>
    <section class="filters">

    </section>
</header>

<section
        *ngIf="queryTooShort"
        class="introduction">
    <div class="topics">
        <a
                *ngFor="let cat of ['News', 'Politics', 'Business', 'Tech', 'Skills', 'Sport', 'Entertainment', 'Lifestyle', 'Society', 'Science', 'Education', 'Media']"
                class="item"
                href="#"
                (click)="search(cat); $event.preventDefault()">
            <span class="name">{{cat.toUpperCase()}}</span>
            <rs-icon [type]="$any(cat.toLowerCase())"></rs-icon>
        </a>
    </div>
    <footer class="note">And much more.</footer>
</section>

<div class="result"
     infiniteScroll
     (scrolled)="loadMore()">
    <rs-feed-websites-search-result
            *ngFor="let source of results"
            [source]="source"
            [category]="category">
    </rs-feed-websites-search-result>
    <div class="note" *ngIf="results.length == 0 && !searching && !queryTooShort">
        No sources found.
    </div>
</div>
<rs-spinner *ngIf="searching" mode="basic"></rs-spinner>
<div class="note" *ngIf="creatingNewSource">
    Attempting to download the source...
</div>
