@import "../../../../config";

.query {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  font-size: 1em;

  .input-wrap {
    flex-grow: 1;
    position: relative;

    input {
      width: 100%;
      padding: 16px 18px;
      border: 1px solid $g-color-lines;
      box-sizing: border-box;
      color: $g-color-text-primary;
      outline: none;
      background: none;

      @media (min-width: $g-desktop-min-width) {
        padding-right: 45px;
        padding-left: 45px;
      }

      &:focus {
        border: 1px solid $g-color-primary;
      }
    }

    rs-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding-right: 15px;
      padding-left: 15px;
      font-size: 1.1em;

      &[type='search'] {
        padding-top: 13px;
        padding-bottom: 12px;
        left: 0;
        z-index: -1;
        display: none;

        @media (min-width: $g-desktop-min-width) {
          display: inline-block;
        }
      }

      &[type='options'] {
        padding-top: 14px;
        padding-bottom: 11px;
        right: 0;

        &:hover {
          color: $g-color-primary;
          cursor: pointer;
        }
      }
    }
  }

  rs-action-state-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;

    @media (min-width: $g-desktop-min-width) {
      width: 140px;
    }

    rs-spinner {
      margin-top: 3px;
      width: 30px;
      height: 30px;
    }
  }
}

.hidden {
  display: none;
}

.result {
  margin-bottom: 40px;

  rs-feed-websites-search-result {
    margin-bottom: 10px;
  }
}

.note {
  text-align: center;
  color: $g-color-text-light;
  font-size: 1.1em;
}

.introduction {
  .topics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6px;

    @media (min-width: 580px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 720px) {
      grid-template-columns: repeat(4, 1fr);
    }

    a {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid $g-color-lines;
      padding: 25px 0;
      transition: all 0.2s ease;
      color: inherit;

      .name {
        color: $g-color-primary;
        font-weight: 600;
      }

      &:hover, &:hover rs-icon {
        border-color: $g-color-primary;
        color: $g-color-primary;
      }

      rs-icon {
        margin-top: 5px;
        font-size: 5em;
        line-height: 1;
        margin-bottom: -14px;
        color: $g-color-text-another;
      }
    }
  }

  footer {
    margin-top: 30px;
  }
}


rs-spinner {
  color: $g-color-primary;
  display: block;
  margin: auto auto 20px;
}
