@import "../../../../config";

p {
  margin-top: 10px;
}

form {
  max-width: 475px;
}

input[type=file] {
  position: absolute;
  left: -1000%;
  width: 0;
  height: 0;
}

rs-state-button {
  margin-top: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 100px;

  rs-icon {
    font-size: 0.9em;
  }

  @media (max-width: $g-mobile-max-width) {
    width: 100%;
  }
}

.error {
  margin-top: 20px;
  color: $g-color-error;
}
