<p>
  Save your time by importing all feeds at once from an <strong>OPML
  format</strong>.
</p>
<form [formGroup]="form" (ngSubmit)="importOpml()">
  <label class="styled">
    Groups
    <span class="select-wrapper">
      <!--
        [class.invalid]="form.get('categoryId').invalid &&
      form.get('categoryId').touched && form.get('categoryId').dirty"
      formControlName="categoryId"
      -->
      <select class="styled bordered"
              [ngModel]="customCategory"
              [ngModelOptions]="{standalone: true}"
              (ngModelChange)="setCustomCategory($event)">
        <option [ngValue]="false">
          Create new groups from import
        </option>
        <option [ngValue]="true">
          Import to selected group
        </option>
      </select>
    </span>
  </label>
  <label class="styled" *ngIf="customCategory">
    Group
    <span class="select-wrapper">
      <select
        [class.invalid]="form.get('categoryId').invalid &&
      form.get('categoryId').touched && form.get('categoryId').dirty"
        class="styled bordered"
        formControlName="categoryId">
        <option *ngFor="let category of categories$ | async"
                [ngValue]="category.id">
          {{category.name | uppercase}}
        </option>
      </select>
    </span>
  </label>
  <rs-state-button
    align="center"
    (rsClick)="importOpml()"
    [disabled]="!form.valid"
    [working]="meta.state === 1"
    [color]="meta.state === 3 ? 'error' : 'default'"
    [state]="meta.state + 1">
    <span class="state-1">
      Import
    </span>
    <span class="state-2">
      Importing
    </span>
    <span class="state-3">
      <rs-icon type="tick"></rs-icon>
    </span>
    <span class="state-4">
      Error
    </span>
  </rs-state-button>
  <div class="error">
    {{meta.error}}
  </div>
  <!-- to allow submit by enter -->
  <input type="submit" style="display: none;"/>
  <input type="file" #file (change)="initiateImport($event)" accept=".opml,.xml">
</form>
