@import "../../../config";

:host {
  background-color: white;
  padding: $g-padding;


  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;

    .name {
      font-weight: 600;
      color: $g-color-text-primary;
      display: flex;
      align-items: center;
      overflow: hidden;

      .favicon {
        margin-right: 8px;
        max-height: 20px;
      }

      .favicon-rosselo {
        max-height: 14px;
      }

      .text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .items {
    margin-left: 2px;
  }

  .items a {
    display: flex;
    color: $g-color-text-secondary;
    line-height: 1.3;
    margin-bottom: 3px;

    @media (min-width: $g-desktop-min-width) {
      margin-bottom: 0;
    }

    .icon {
      font-size: 0.5em;
      color: $g-color-text-light;
      z-index: 1;
      padding: 6px 26px 10px 22px;
      margin-right: -14px;
      margin-left: -20px;

      @media (min-width: $g-desktop-min-width) {
        padding: 6px 10px 0 ($g-padding+2px);
        margin: 0 0 0 #{-($g-padding+2px)};
      }
    }

    &.pinned .icon {
      color: $g-color-primary;
    }

    .name {
      display: inline-block;
      word-break: break-word;
      flex-grow: 1;
      padding-bottom: 5px;
    }

    &.read {
      color: $g-color-text-light;
    }
  }

  .all-read {
    color: $g-color-text-light;
  }

  .icons {
    flex-shrink: 0;
    color: $g-color-text-light;

    rs-icon {
      font-size: 1.3em;
      margin-left: 15px;
      cursor: pointer;
      transition: all $g-translation-speed $g-translation-effect;

      @media (min-width: $g-desktop-min-width) {
        opacity: 0;
      }

      &:hover {
        color: $g-color-primary;
      }
    }

    @media (max-width: $g-mobile-max-width) {
      display: none;
    }
  }


  &:hover .icons rs-icon {
    opacity: 1;
  }
}

:host.simple-mode {
  header {
    margin-bottom: 0;
  }

  .icons {
    display: none;
  }
}

.note {
  color: $g-color-primary;
}

.note.red {
  color: $g-color-error;
}

footer {
  text-align: right;
}

.error {
  color: $g-color-text-light;
  font-size: 0.7em;
  margin-top: 20px;
}

.mark-as-read-mobile {
  color: $g-color-text-light;
  font-size: 0.8em;
  display: inline-flex;
  align-items: center;
  padding: 20px;
  margin-bottom: -20px;
  margin-right: -20px;
  cursor: pointer;

  &:hover {
    color: $g-color-primary;
  }

  @media (min-width: $g-desktop-min-width) {
    display: none;
  }

  rs-icon {
    font-size: 1.4em;
    margin-left: 10px;
    padding-top: 3px;
  }

}
