<header>
    <a [attr.href]="feed.source.link"
       rel="nofollow"
       target="_blank"
       title="Visit website"
       class="name">
        <img [attr.src]="faviconUrl" class="favicon" *ngIf="faviconUrl != null">
        <img src="/assets/images/logo-light-gray.svg"
             class="favicon favicon-rosselo" *ngIf="faviconUrl == null">
        <span class="text">{{feed.name}}</span>
    </a>
    <div class="icons">
        <rs-icon type="glasses"
                 title="Mark as read"
                 (click)="onFeedReadClick(feed, $event)">
        </rs-icon>
        <rs-icon
                [routerLink]="['/app/settings/groups', feed.categoryId, 'feeds', feed.id]"
                title="Feed settings"
                type="options"
                class="options"></rs-icon>
    </div>
</header>
<!-- FEED CONTENT -->
<!-- NOT NGIF DUE TO PERFORMANCE PROBLEMS -->
<div class="items"
     *ngIf="!simpleMode">
    <div *ngIf="feed.items?.length === 0"
         class="all-read">
        All read
    </div>
    <a *ngFor="let item of feed.items; trackBy: getId"
       [attr.href]="item.link"
       target="_blank"
       rel="nofollow"
       [class.read]="item.readAt !== null"
       [class.pinned]="item.pinnedAt !== null"
       [@fadeOut]>
    <span class="icon"
          title="Click to read later"
          (click)="pinItem(feed, item, $event)">
      <rs-icon type="indicator-full"></rs-icon>
    </span>
        <span class="name"
              (auxclick)="$event.button === 1 ? onItemClick(feed, item, $event, 'middle') : null"
              (contextmenu)="onItemClick(feed, item, $event, 'right')"
              (click)="onItemClick(feed, item, $event, 'left')">
      {{item.title}}
    </span>
    </a>
</div>
<footer>
    <div
            *ngIf="!simpleMode && feed.source.error"
            class="error">
        LAST UPDATE {{$any(feed.source.lastSuccessfulFetchAt) | timeAgo}} AGO
    </div>
    <a href="#" class="mark-as-read-mobile"
       (click)="onFeedReadClick(feed,  $event)">
        MARK AS READ
        <rs-icon type="glasses"
                 title="Mark as read">
        </rs-icon>
    </a>
</footer>
