$g-color-primary-darker: #f79200;
$g-color-primary: #ff9800;
$g-color-primary-lighter: lighten($g-color-primary, 10%);
$g-color-lines: #e6e6e6;
$g-color-text-primary: #666;
$g-color-text-secondary: #808080;
$g-color-text-subtle: #909090;
$g-color-text-light: #a2a2a2;
$g-color-text-another: #bfbfbf;
$g-color-text-strong: #383838;
$g-footer-background-color: #fcfcfc;
$g-color-error: #e1057b;
$g-color-notello: #01b3e3;

$g-padding: 25px;
$g-skew-height: 60px;
$g-skew-height-mobile: 28px;

$g-login-sign-up-padding-top: 120px;
$g-login-sign-up-padding-top-mobile: 50px;

$g-translation-speed: .1s;
$g-translation-effect: ease;

$g-mobile-max-width: 768px;
$g-desktop-min-width: 769px;

$g-heading-1-size: 2.2em;
$g-heading-1-size-mobile: 1.75em;

$g-header-height: 51px;
$g-content-top-padding: 38px;
