<div class="spinner" *ngIf="loadingRouteConfig || !configLoaded" [@fade]>
  <rs-spinner></rs-spinner>
</div>
<router-outlet *ngIf="configLoaded"></router-outlet>
<div class="connection-problems" *ngIf="(connectionProblemsCount$ | async) >
0" [@fade]>
  It seems you're offline. Trying to reconnect with the server...
</div>
