@import "config";

.spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.connection-problems {
  position: fixed;
  z-index: 3;
  bottom: 0;
  background-color: $g-color-primary;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 10px $g-padding;
  box-sizing: border-box;
  align-items: center;
  font-weight: 600;
  min-height: 46px;
  margin: 0 10px 0 0;
  font-size: 0.9em;
}
