@import "../../../config";

:host {
  display: inline-block;
}

:host:before {
  font-family: "rosselo-icon-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  bottom: -1px;
}

:host.search:before {
  content: "\61";
}
:host.options:before {
  content: "\62";
}
:host.person:before {
  content: "\63";
}
:host.glasses:before {
  content: "\64";
}
:host.indicator-full:before {
  content: "\66";
}
:host.tick:before {
  content: "\67";
}
:host.cross:before {
  content: "\6b";
  font-size: 1.6em;
  position: relative;
  bottom: -2px;
}
:host.arrow-small:before {
  content: "\65";
  font-size: 0.8em;
  bottom: 0;
}
:host.plus:before {
  content: "\69";
}
:host.glasses-small:before {
  content: "\6a";
}
:host.menu-delete:before {
  content: "\6b";
}
:host.menu-more:before {
  content: "\6c";
}
:host.add:before {
  content: "\6d";
}
:host.logo {
  color: $g-color-primary;
}
:host.logo:before {
  font-size: 0.68em;
  content: "\6e";
}
:host.heart:before {
  content: "\6f";
}
:host.hotkeys:before {
  content: "\70";
}
:host.logout:before {
  content: "\71";
  font-size: 0.9em;
}
:host.menu:before {
  content: "\72";
}
:host.notello-logo {
  color: $g-color-notello;
}
:host.notello-logo:before {
  content: "\73";
}
:host.menu-2:before {
  content: "\74";
}
:host.sort:before {
  content: "\75";
}
:host.rss:before {
  content: "\76";
}
:host.plus-thinner:before {
  content: "\77";
  font-size: 0.9em;
  position: relative;
  bottom: -1px;
}
:host.folder:before {
  content: "\68";
}
:host.indicator:before {
  content: "\78";
}
:host.hash:before {
  content: "\7a";
}
:host.import:before {
  content: "\79";
}
:host.youtube:before {
  content: "\42";
  color: #cc181e;
  position: relative;
  bottom: -2px;
}
:host.twitter:before {
  content: "\41";
  color: #38A1F3;

}
:host.news:before {
  content: "\44";
}
:host.education:before {
  content: "\45";
}
:host.entertainment:before {
  content: "\46";
}
:host.politics:before {
  content: "\47";
}
:host.science:before {
  content: "\48";
}
:host.skills:before {
  content: "\49";
}
:host.society:before {
  content: "\4a";
}
:host.lifestyle:before {
  content: "\4b";
}
:host.media:before {
  content: "\4c";
}
:host.sport:before {
  content: "\4d";
}
:host.tech:before {
  content: "\4e";
}
:host.business:before {
  content: "\4f";
}
