@import "../../../config";

:host {
  width: 100%;
}

.introduction {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 $g-padding;

  @media (min-width: $g-desktop-min-width) {
    height: calc(100vh - #{$g-header-height});
    padding: 0;
  }

  .text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: $g-content-top-padding;
  }

  h1 {
    margin-bottom: 0;
  }

  rs-button {
    margin: 20px auto 64px;
    color: $g-color-primary;
    padding: 3px 33.6px;
    font-weight: bold;

    @media (min-width: $g-desktop-min-width) {
      padding: 6px 40px;
    }

    rs-icon {
      font-size: 1.6em;
      margin-right: 8px;
    }
  }

  rs-button:hover, rs-button:focus {
    &, rs-icon {
      color: white;
    }
  }

  .mockup {
    @media (min-width: $g-desktop-min-width) {
      margin: 0 64px;
    }

    img {
      width: 100%;
      box-shadow: 0 0 88px -24px rgba(0, 0, 0, 0.75);

      @media (min-width: $g-desktop-min-width) {
        width: 80%;
      }

      @media (min-width: 1300px)  {
        width: 65%;
      }
    }
  }
}

rs-skew-container {
  margin-top: -$g-skew-height;

  @media (max-width: $g-mobile-max-width) {
    margin-top: -$g-skew-height-mobile;
  }

  .content {
    $padding: 16px;
    padding: $padding 0 $padding * 2;
  }

  h2 {
    margin-bottom: 8px;
  }

  h2, h3 {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    color: white;
  }
}

h3 {
  color: $g-color-text-subtle
}

.features {
  header {
    padding: 30px $g-padding 0;
    text-align: center;

    @media (min-width: $g-desktop-min-width) {
      padding-top: 60px;
    }

    h2 {
      font-size: $g-heading-1-size-mobile;
      margin-bottom: 10px;

      @media (min-width: $g-desktop-min-width) {
        font-size: $g-heading-1-size;
      }
    }

    h4 {
      margin-top: 0;
      color: $g-color-text-subtle;
      margin-bottom: 40px;
    }

    rs-icon {
      font-size: 3em;
    }
  }

  rs-container {
    border-bottom: 1px solid $g-color-lines;

    &:first-of-type {
      @media (min-width: $g-desktop-min-width) {
        margin-top: 50px;
      }
    }

    &:last-of-type {
      border-bottom: none;
    }

    .feature {
      display: flex;
      flex-direction: column;
      padding: 50px 0;

      @media (min-width: $g-desktop-min-width) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 0;

        .picture {
          order: 0;
        }

        .description {
          order: 1;
        }
      }

      h3 {
        text-align: center;
        color: $g-color-text-primary;
        font-size: 1.4em;
        margin-bottom: 12px;

        @media (min-width: $g-desktop-min-width) {
          text-align: left;
          font-size: 1.7em;
        }
      }

      .picture {
        margin-top: 60px;

        @media (min-width: $g-desktop-min-width) {
          margin-top: 0;
        }
      }

      .picture, .description {
        font-weight: 300;

        @media (min-width: $g-desktop-min-width) {
          max-width: 47%;
        }
      }
    }
  }
}

.try-for-free {
  background-color: $g-footer-background-color;
  text-align: center;
  overflow: auto;
  padding: 55px $g-padding;

  h3 {
    font-size: 1.4em;
    color: $g-color-text-primary;
    margin-top: 0;
    margin-bottom: 10px;

    @media (min-width: $g-desktop-min-width) {
      font-size: 1.7em;
    }
  }

  p {
    color: $g-color-text-subtle;
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 300;
  }

  rs-button {
    color: $g-color-primary;
    padding: 10px 38px;
  }

  rs-button:hover, rs-button:focus {
    color: white
  }
}
