<div class="introduction">
  <div class="text">
    <h1>
      All news in one simple dashboard
    </h1>
    <h3>
      Following news has never been easier
    </h3>
    <div>
      <rs-button type="bordered" [routerLink]="'/sign-up'">
        <rs-icon type="logo"></rs-icon>
        SIGN UP NOW
      </rs-button>
    </div>
  </div>
  <div class="mockup">
    <img
      *ngIf="!mobileLayout"
      src="/assets/images/mockup.opt.png"
      srcset="/assets/images/mockup.opt.png 1326w, /assets/images/mockup-2x.opt.png 2652w"
      sizes="(min-width: 768px) 65vw - 128px, calc(100vw - 48px)"
      alt="rosselo application">
    <img
      *ngIf="mobileLayout"
      src="/assets/images/mockup-mobile.opt.png"
      srcset="/assets/images/mockup-mobile.opt.png 858w, /assets/images/mockup-mobile-2x.opt.png 1716w"
      sizes="calc(100vw - 48px)"
      alt="rosselo application">
  </div>
</div>
<rs-skew-container>
  <div class="content">
    <h2>Follow any RSS feed</h2>
    <h3>Add RSS feeds with your favorite news to Rosselo and keep them in the
      simple dashboard. With Rosselo, you will never miss a thing.</h3>
  </div>
</rs-skew-container>
<div class="features">
  <header>
    <h2 class="">Check all your news at once</h2>
    <h4>
      Always stay in the picture
    </h4>
    <rs-icon type="logo"></rs-icon>
  </header>
  <rs-container>
    <div class="feature">
      <div class="description">
        <h3>The news overview</h3>
        <p>Divide your feeds into groups of interest and then drag them into
          columns to keep a good sight of all your incoming news.</p>
        <p>Click to follow the link, right click to mark read. You can also mark
          all news as read with a single click.</p>
      </div>
      <div class="picture">
        <img
          src="/assets/images/image-1.opt.png"
          srcset="/assets/images/image-1.opt.png 730w, /assets/images/image-1-2x.opt.png 1460w"
          sizes="(min-width: 1100px) 541px, (min-width: 768px) calc((100vw - 25px) * 0.47), calc(100vw - 25px)"
          alt="rosselo news overview">
      </div>
    </div>
  </rs-container>
  <rs-container>
    <div class="feature">
      <div class="description">
        <h3>Setup your RSS feeds</h3>
        <p>Specify how much news you want to see and how old they can get. Both
          conditions are applied at the same time. You can also rename the feed
          as you want to make it more easily recognizable.</p>
        <p>Any RSS in standard format is supported, you can follow posts, social
          media streams, video channels, pretty much anything!</p>
      </div>
      <div class="picture">
        <img
          src="/assets/images/image-2.opt.png"
          srcset="/assets/images/image-2.opt.png 730w, /assets/images/image-2-2x.opt.png 1460w"
          sizes="(min-width: 1100px) 541px, (min-width: 768px) calc((100vw - 25px) * 0.47), calc(100vw - 25px)"
          alt="rosselo news overview">
      </div>
    </div>
  </rs-container>
  <rs-container>
    <div class="feature">
      <div class="description">
        <h3>Optimized for your convenience</h3>
        <p>Check out your news on desktop or your <strong>mobile
          devices</strong>, whenever you
          like. Mark articles as <b>read later</b> if you are too busy to read
          them right now.
        </p>
        <p>Also use hotkeys to make your browsing through news both faster and
          easier.</p>
      </div>
      <div class="picture">
        <img
          *ngIf="!mobileLayout"
          src="/assets/images/image-3.opt.png"
          srcset="/assets/images/image-3.opt.png 649w, /assets/images/image-3-2x.opt.png 1298w"
          sizes="(min-width: 1100px) 541px, (min-width: 768px) calc((100vw - 25px) * 0.47), calc(100vw - 25px)"
          alt="rosselo news overview">
        <img
          *ngIf="mobileLayout"
          src="/assets/images/image-3-mobile.opt.png"
          srcset="/assets/images/image-3-mobile.opt.png 452w, /assets/images/image-3-mobile-2x.opt.png 904w"
          sizes="calc(100vw - 25px)"
          alt="rosselo news overview">
      </div>
    </div>
  </rs-container>
</div>
<rs-container class="try-for-free">
  <h3>Try it out for free!</h3>
  <p>Once you taste it, you will become a news addict :)</p>
  <rs-button type="bordered" [routerLink]="'/sign-up'">TRY IT NOW</rs-button>
</rs-container>
