@import "../../../../config";

:host {
  margin-top: $g-content-top-padding;
}

h2 {
  margin-top: 0;
  color: $g-color-text-primary;
}

th {
  text-align: left;
  font-weight: normal;
  min-width: 150px;
}

a {
  color: $g-color-primary;

  &:hover {
    color: darken($g-color-primary, 10%)
  }
}

tr {
  margin-bottom: 5px;
}

th, td {
  padding-bottom: 10px;
  vertical-align: top;
}

.delete-account {
  color: $g-color-text-light;
  display: flex;

  rs-spinner {
    zoom: 0.18;
    margin-left: 10px;
  }

  &:hover {
    color: $g-color-error;
  }
}

form {
  width: 100%;
  margin-top: 30px;

  @media (min-width: $g-desktop-min-width) {
    max-width: 300px;
  }
}

input {
  box-sizing: border-box;
}

rs-state-button {
  margin-top: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 80px;

  rs-icon {
    font-size: 0.9em;
  }

  @media (max-width: $g-mobile-max-width) {
    width: 100%;
  }
}

.account-access {
  a {
    display: block;
    margin: 0;

    &:not(:first-of-type) {
      margin-top: 8px;
    }

    @media (min-width: 520px) {
      display: inline;
      margin-right: 10px;

      &:not(:first-of-type) {
        margin-left: 10px;
      }

    }
  }

  .pipe {
    display: none;

    @media (min-width: 520px) {
      display: inline;
    }
  }
}
