<h2>Account details</h2>
<table>
  <tr>
    <th>Registered</th>
    <td>{{(auth$ | async).user.registered | date: 'yyyy-MM-dd'}}</td>
  </tr>
  <tr>
    <th>Account access</th>
    <td class="account-access">
      <a href=""
         (click)="toggleMode('change-email'); $event.preventDefault()">Change e-mail
      </a>
      <span class="pipe">|</span>
      <a href=""
         (click)="toggleMode('change-password'); $event.preventDefault()">Change
        password </a>
    </td>
  </tr>
  <tr>
    <th>Terminate account</th>
    <td>
      <a href=""
         class="delete-account"
         (click)="onDeleteClick($event)">
        <ng-template [ngIf]="terminating">
          Deleting your account
          <rs-spinner></rs-spinner>
        </ng-template>
        <ng-template [ngIf]="!terminating && terminatingError !== null">
          {{terminatingError}}
        </ng-template>
        <ng-template [ngIf]="!terminating && !terminatingError">
          Permanently delete
        </ng-template>
      </a>
    </td>
  </tr>
</table>
<form
  *ngIf="mode === 'change-password'"
  [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
  <label class="styled">
    Old password
    <input type="password"
           class="styled bordered"
           formControlName="oldPassword"
           [class.invalid]="oldPassword.invalid && oldPassword.touched && oldPassword.dirty">
  </label>
  <label class="styled">
    New password
    <input type="password"
           class="styled bordered"
           formControlName="newPassword"
           [class.invalid]="newPassword.invalid && newPassword.touched && newPassword.dirty">
  </label>
  <rs-state-button
    align="center"
    (rsClick)="changePassword()"
    [disabled]="!changePasswordForm.valid"
    [working]="changePasswordMeta.state === 1"
    [color]="changePasswordMeta.state === 3 ? 'error' : 'default'"
    [state]="changePasswordMeta.state + 1">
    <span class="state-1">
      Save
    </span>
    <span class="state-2">
      Saving
    </span>
    <span class="state-3">
      <rs-icon type="tick"></rs-icon>
    </span>
    <span class="state-4">
      {{changePasswordMeta.error}}
    </span>
  </rs-state-button>
  <!-- to allow submit by enter -->
  <input type="submit" style="display: none;"/>
</form>
<form
  *ngIf="mode === 'change-email'"
  [formGroup]="changeEmailForm" (ngSubmit)="changeEmail()">
  <label class="styled">
    New e-mail
    <input type="email"
           class="styled bordered"
           formControlName="newEmail"
           [class.invalid]="newEmail.invalid && newEmail.touched && newEmail.dirty">
  </label>
  <rs-state-button
    align="center"
    (rsClick)="changeEmail()"
    [working]="changeEmailMeta.state === 1"
    [disabled]="!changeEmailForm.valid"
    [color]="changeEmailMeta.state === 3 ? 'error' : 'default'"
    [state]="changeEmailMeta.state + 1">
    <span class="state-1">
      Save
    </span>
    <span class="state-2">
      Saving
    </span>
    <span class="state-3">
      <rs-icon type="tick"></rs-icon>
    </span>
    <span class="state-4">
      {{changeEmailMeta.error}}
    </span>
  </rs-state-button>
  <!-- to allow submit by enter -->
  <input type="submit" style="display: none;"/>
</form>
