<header>
  <h1>Feed groups</h1>
  <p class="note">
    Create or
    <a
      [routerLink]="['/app/settings/groups', (categories$ | async)[0]?.id, 'feeds', 'new', 'import']">
      import
    </a>
    groups into which you can organize your feeds
  </p>
</header>
<div class="list"
     cdkDropList
     [cdkDropListDisabled]="isMobile"
     (cdkDropListDropped)="onCategoryDrop($event)"
     [cdkDropListOrientation]="'vertical'">
  <div
    *ngFor="let category of categories$ | async as categories; trackBy: getSlug"
    class="item"
    cdkDrag
    [cdkDragDisabled]="isMobile"
    [cdkDragData]="category">
    <ng-template cdkDragPlaceholder>
      <div></div>
    </ng-template>
    <a [routerLink]="[category.id]" class="name">
      <rs-icon type="folder"></rs-icon>
      <span class="text">{{category.name}}</span>
    </a>
    <a
      *ngIf="categories.length !== 1"
      href=""
      class="remove"
      (click)="deleteCategory(category);
       $event.preventDefault()">
      <rs-icon type="cross"></rs-icon>
    </a>
  </div>
</div>

<a routerLink="new" class="new-category" *ngIf="(categories$ | async)?.length
 < (categoriesLimit$ | async)">
  <rs-icon type="add"></rs-icon>
  Add new group
</a>
<span class="cannot-add-more" *ngIf="(categories$ | async)?.length
 >= (categoriesLimit$ | async)">
  <rs-icon type="add"></rs-icon>
  More groups cannot be created
</span>
