@import "../../../../config";

:host {
  margin-bottom: $g-content-top-padding;
  width: 100%;
}

a {
  color: inherit;

  &:hover {
    color: $g-color-primary;
  }
}

header {
  padding-top: $g-content-top-padding;
  background-color: white;
  z-index: 1;
  overflow: auto; // to prevent margin collapse

  @media (min-width: $g-desktop-min-width) {
    position: sticky;
    top: $g-header-height;
  }

  a {
    color: $g-color-primary;

    &:hover {
      color: $g-color-primary-darker;
    }
  }
}

h1 {
  margin: 0;
  color: $g-color-text-primary;
}

.note {
  margin-top: 5px;
  color: $g-color-text-subtle;
}

.list {
  max-width: 500px;
}

.item {
  display: flex;
  border: 1px solid $g-color-lines;
  align-items: stretch;
  min-height: 40px;
  margin-bottom: 15px;
  background-color: white;

  .name {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    text-transform: uppercase;
    overflow: hidden;

    rs-icon {
      margin-right: 8px;
      font-size: 1.2em;
      position: relative;
      bottom: -2px;
    }

    .text {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .remove {
    border-left: 1px solid $g-color-lines;
    padding: 3px 10px;

    rs-icon {
      font-size: 1.1em;
    }

    &:hover {
      color: $g-color-error;
    }
  }
}

.cdk-drag-placeholder {
  height: 40px;
  z-index: 2;
  border: 3px solid $g-color-primary;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.new-category, .cannot-add-more {
  margin-top: 9px;
  display: inline-block;

  rs-icon {
    position: relative;
    bottom: -1px;
    margin-right: 10px;
  }
}

.new-category {
  margin-left: 16px;

  rs-icon {
    color: $g-color-primary;
  }
}

.cannot-add-more {
  color: $g-color-text-subtle;
  margin-left: 10px;

  rs-icon {
    transform: rotate(45deg);
  }
}
