@import "../../../config";

:host {
  display: inline-block;
  cursor: pointer;
}

.background {
  background-color: $g-color-text-secondary;
  border-radius: 10px;
  width: 40px;
  height: 20px;
  transition: color $g-translation-speed $g-translation-effect;
  position: relative;
  outline: none;
}

:host:not(.disabled) .background:focus {
  background-color: darken($g-color-text-secondary, 10%);
}

:host.checked .background {
  background-color: $g-color-primary;
}

:host.checked:not(.disabled) .background:focus {
  background-color: $g-color-primary-darker;
}

:host.disabled {
  cursor: not-allowed;

  .background {
    background-color: $g-color-text-light;
  }

  .background:focus {
    background-color: $g-color-text-subtle;
  }
}

.handle {
  width: 16px;
  height: 16px;
  margin-top: 2px;
  left: 2px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  transition: left $g-translation-speed $g-translation-effect;
}

:host.checked .handle {
  left: calc(100% - 18px);
}
