<rs-container [narrow]="true">
  <h1>Frequently asked questions</h1>
  <h2 class="subtitle">Anything you might want to know</h2>
  <h3 id="what-is-rss-feed">What is RSS feed?</h3>
  <p>
    Almost every website has an <a href="https://en.wikipedia.org/wiki/RSS"
                                   target="_blank">RSS feed</a>, which is a
    single URL address that enables you to aggregate multiple news sources (such
    as news portals, forums or social network channels) into one application
    such as Rosselo so you don't have to check each source separately.
  </p>
  <h3 id="get-rss-feed">Where do I get RSS feeds?</h3>
  <p>
    There are multiple ways how to get RSS feeds. First is to look on any
    website you're interested in for an orange RSS icon
    <rs-icon class="rss" type="rss"></rs-icon>
    , typically located in the header or footer of the website. Typically you
    can find them on special page <a
    href="https://archive.nytimes.com/www.nytimes.com/services/xml/rss/index.html" target="_blank">such
    as here</a> or among social media links.
  </p>
  <h3 id="how-to-add-rss-feed">How do I add newsfeeds to Rosselo?</h3>
  <p>
    Once you click on the <strong>Add new feed</strong> button (or the plus icon
    in the top menu), you will get to feed settings where you need to fill out
    feed name and paste feed URL you previously copied from a website, you want
    to watch.
  </p>
  <p>
    Also you might want to check out <a routerLink="/feeds-list">lists of
    popular RSS feeds</a> to discover feeds you might be interested in.
  </p>
  <h3 id="videos-tweets">Can I follow new YouTube videos or Tweets?</h3>
  <p>
    Yes! All you have to do is to retrieve right URL to be put into Rosselo.
    Here is <a
    href="https://feeder.co/knowledge-base/rss-feed-creation/youtube-rss/"
    target="_blank">the wonderful guide to retrieve YouTube channel RSS</a> and
    <a
      href="https://feeder.co/knowledge-base/rss-feed-creation/twitter-rss-feeds/"
      target="_blank">this one for Twitter</a>.
  </p>
  <h3 id="read-later">Is it possible to mark news as read later?</h3>
  <p>
    Yes, just click the bullet next to the news item to mark it to read later.
    It will turn orange and will stay pinned up until you unpin it.
  </p>
  <h3 id="hotkeys">What hotkeys does Rosselo support?</h3>
  <p>
    So far, there are couple of hotkeys created for your convenience.
  </p>
  <rs-hotkeys-table></rs-hotkeys-table>
  <h3 id="import-export">Does Rosselo support import / export of feeds?</h3>
  <p>
    Although this feature is on the roadmap, Rosselo doesn't support import /
    export of feeds now.
  </p>
  <h3 id="story-of-rosselo">What's the story of Rosselo?</h3>
  <p>
    People behind Rosselo were working on a bigger app for tasks, notes and
    cooperation called <a href="https://notello.com" target="_blank">Notello
  </a>, while they realized the need for a simple tool to monitor a wide
    spectrum of information sources effortlessly. At the same time, a smaller
    project as a Rosselo was a convenient way to test out various tools and
    technology stack needed for <a href="https://notello.com" target="_blank">Notello
    app</a>. After a couple of weeks of designing and programming, Rosselo was
    ready to help people, including its founders, to stay in the picture. </p>
  <hr>
  <h2 id="subscription">Subscription</h2>
  <h3 id="limits">What are Rosselo limits?</h3>
  <p>
    The Rosselo service, as described in <a routerLink="/terms" target="_blank">Terms
    of Use</a>, is designed for regular personal use. In this spirit, Rosselo
    account supports up to {{(configs$ | async).maxNumberOfFeedsPerAccount}}
    feeds with
    <strong>{{(configs$ | async).maxNumberOfEntriesPerFeed * (configs$ |
      async).maxNumberOfFeedsPerAccount | number}} feed items total</strong>.
    Last {{(configs$ | async).maxNumberOfEntriesPerFeed}} feed items for each
    feed are stored. If you need more than that, you're a news freak!
  </p>
  <h3 id="payment">How can I pay for Rosselo account?</h3>
  <p>
    Although Rosselo offers only paid plan during the registration, we do not
    accept payments yet. When we will be ready for this step, we will let you
    know directly in Rosselo app. Please enjoy the free extended trial so far :)
  </p>
  <h3 id="free">Can I use Rosselo for free?</h3>
  <p>
    The short answer is no. However, we will present affiliate links in a while
    that might cover Rosselo subscription for you so you won't have to pay
    anything.
  </p>
  <h3 id="expiration">What happens when my subscription expires?</h3>
  <p>
    Before that happens, you will be notified two times via e-mail and in the
    application itself. If your subscription expires, your feeds won't be
    updated since then, however you will still have an option to log into the
    application and pay for the service. Also if you choose not to manually
    prolong the subscription each time, you can also use automatic
    payments from your credit card.
  </p>
  <p>
    Your account will be preserved indefinitely unless you choose to delete it
    or it has to be deleted due to technical reasons.
  </p>
  <h3 id="billing-period">Can I pay for the shorter period of time?</h3>
  <p>
    Unfortunately, no. And there are a couple of reasons for it. Online payments
    come with fees that make smaller payments more expensive. At the same time,
    getting money ahead helps us to predict situation better and get ready for
    the increasing traffic. Also, you can still use free 20-day trial to try
    Rosselo functionality in and out.
  </p>
  <h3 id="cancel-subscription">Can I cancel my subscription after I paid the
    money?</h3>
  <p>
    You can cancel your subscription any time in Rosselo settings, however, we
    cannot refund the money back once you paid for another period. We do hope to
    support this operation in the future, though.
  </p>
</rs-container>
