@import "../../../config";

:host {
  padding-top: $g-content-top-padding;
  padding-bottom: 82px;
  display: block;
  overflow: auto;
  flex-grow: 1;
  width: 100%;
}

h1, h2 {
  text-align: center;
  font-size: 1.7em;
  color: $g-color-text-primary;
  margin-bottom: 10px;

  @media (min-width: $g-desktop-min-width) {
    font-size: 2em;
  }
}

h2 {
  font-size: 1.5em;
  margin-bottom: 40px;
}

h2.subtitle {
  text-align: center;
  color: $g-color-text-subtle;
  font-size: 1.2em;
  margin-top: 0;
}

h3 {
  color: $g-color-text-primary;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 30px;
}

p {
  margin-top: 8px;
}

hr {
  margin-top: 60px;
  margin-bottom: 40px;
  border: none;
  border-top: 1px solid $g-color-lines;
}

strong {
  font-weight: normal;
  color: $g-color-text-strong;
}
