@import "app/config";
// our custom icon font (use IconComponent)
@import "fonts/rosselo-icon-font/rosselo.css";
// source sans pro behaves somehow buggy, so we name it source-sans-pro-custom
// to always load it correctly
@import "fonts/source-sans-pro/source-sans-pro.css";

html {
  font-family: 'source-sans-pro-custom', 'Source Sans Pro', 'Open Sans', sans-serif;
  color: $g-color-text-secondary;
}

::selection {
  background: $g-color-primary;
  color: white;
}

::placeholder {
  color: $g-color-text-light;
  opacity: 1;
}

h1, h2, h3, h4, h5, h6 {
  color: $g-color-text-secondary;
  font-weight: 300;
  line-height: 1.4;
}

h1 {
  font-size: $g-heading-1-size-mobile;

  @media (min-width: $g-desktop-min-width) {
    font-size: $g-heading-1-size;
  }
}

h2 {
  font-size: 1.5em;

  @media (min-width: $g-desktop-min-width) {
    font-size: 2.05em;
  }
}

h3 {
  font-size: 1.08em;
}

h4 {
  font-size: 1.2em;
}

p {
  font-size: 1.05em;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

input.styled, select.styled {
  border: none;
  border-bottom: $g-color-lines 2px solid;
  padding: 5px 5px 10px;
  outline: none;
  transition: border-color $g-translation-speed $g-translation-effect;
  background: transparent;
}

select.styled::-ms-expand {
  display: none;
}

select.styled {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
}

.select-wrapper {
  position: relative;
  display: block;

  &:after {
    font-family: "rosselo-icon-font" !important;
    content: '\65';
    color: #a2a2a2;
    position: absolute;
    right: 0;
    top: 4px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 23px;
    font-size: 0.7em;
  }
}

select.default.invalid:not(:focus), input.default.invalid:not(:focus) {
  border-color: $g-color-error;
}

input.bordered, select.bordered {
  border: 1px solid $g-color-lines;
  padding: 7px 10px;

  &:focus {
    outline: $g-color-primary auto 1px;
  }

  &.invalid:not(:focus) {
    border-color: $g-color-error;
  }
}

label.styled {
  color: $g-color-text-subtle;
  font-size: 0.9em;
  margin-bottom: 15px;
  display: block;

  > select, > input, > .select-wrapper > select {
    display: block;
    width: 100%;
  }

  > *, > .select-wrapper > select {
    font-size: 1.1em;
    color: $g-color-text-primary;
    margin-top: 5px;
  }
}

select:-moz-focusring {
  color: transparent !important;
  text-shadow: 0 0 0 $g-color-text-primary;
}

option:not(:checked) {
  color: $g-color-text-primary; /* prevent <option>s from becoming transparent as well */
}

a {
  text-decoration: none;
  color: $g-color-primary;
  transition: color $g-translation-speed $g-translation-effect;

  &:hover {
    color: darken($g-color-primary, 10%);
  }
}

select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

input[type=checkbox] + label {
  display: block;
  cursor: pointer;
  padding: 0.2em 0;
}

input[type=checkbox] {
  width: 0;
  height: 0;
  position: absolute;
  left: -10000%;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 1px solid $g-color-text-light;
  border-radius: 1px;
  display: inline-block;
  width: 16px;
  box-sizing: border-box;
  height: 16px;
  text-align: center;
  font-size: 0.95rem;
  margin-right: 0.3em;
  line-height: 1;
  padding-left: 2px;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

label {
  user-select: none;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  //background-color: ;
  //border-color: MediumSeaGreen;
  border-color: $g-color-primary;
  color: $g-color-primary;
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:focus + label:before {
  border-color: $g-color-primary;
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

a::-moz-focus-inner {
  border: 0;
}

a, a:visited, a:focus, a:active, a:hover {
  outline: 0 none;
}
